<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢迎信</title>
</head>
<table border="0" cellspacing="0" cellpadding="0" width="0" height="0">
<tr><td><img src="http://s.oadz.com/show;C;1789;10;Rg0uIbtt2IJZDAvpmOPV4KCuufQ=;*;16;0?*" border="0" width="0" height="0" /></td></tr>
</table>
<body style="background:#ededed;">
<table width="660" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="660" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2" align="center"> <a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://static.jinjiang.com/opt/static/html/12edm/PEDM
/welcome.html?ozutid"; style="font-size:12px;">如果邮件无法显示请点击这这里&gt;&gt;</a></td>
        </tr>
      <tr>
        <td><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com?ozutid" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/logo.png" width="135" height="56" border="0" /></a></td>
        <td align="right" valign="bottom"><b style="color:#666464; font-size:12px;">服务热线：1010-1666     在线预订：www.jinjiang.com</b> </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="660" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tr>
        <td height="5" bgcolor="#ededed"></td>
      </tr>
      <tr>
        <td><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/top.jpg" width="660" height="96" align="bottom" /></td>
      </tr>
      <tr>
        <td><table width="660" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="433">
            <div style="font-size:12px; float:left; display:block; padding-bottom:30px; padding-left:30px; padding-right:30px; padding-top:30px; line-height:24px;">
            <b style="font-size:14px; color:#000; display:block;">尊敬的先生/女士 ：</b>
<span style="display:block;">您好！恭喜您已成功注册成为锦江旅行家网站用户。</span><br />
<span style="color:#666; margin-top:12px;">您今后可使用此邮箱直接登录，随时随地获得锦江旅行家提供的<a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/hotel?ozutid" target="_blank" style="color:#1a91bf;">酒店预订</a>、<a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/travel?ozutid" target="_blank" style="color:#1a91bf;">旅游线路预订</a>、<a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/auto?ozutid" target="_blank" style="color:#1a91bf;">租车服务预订</a>、<a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/flights?ozutid" target="_blank" style="color:#1a91bf;">机票预订</a>、
<a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/$urlUtils.buildLoginUrl($flamingoRedirectUrl,$flamingoUrl,'/membercenter/member/order/hotel?cmpid=P_edm_welcome')" target="_blank" style="color:#1a91bf;">订单查看</a>、
<a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/$urlUtils.buildLoginUrl($flamingoRedirectUrl,$flamingoUrl,'/membercenter/enjoy?cmpid=P_edm_welcome')" target="_blank" style="color:#1a91bf;">账户管理</a>等全面优质服务！</span>
 </div> </td>
            <td width="227">
            <div style="background:#faefef; margin-top:25px; margin-right:18px; margin-bottom:15px; padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; font-size:12px; line-height:20px; color:#666666;"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/logo2.png" width="92" height="32" style="display:block; margin-bottom:12px;" />即刻<b style=" color:#b65656;">完善信息，加入锦江国际会员俱乐部，获100元电子优惠券！</b>畅享锦江国际集团旗下酒店住宿、旅行度假、汽车服务<span style="color:#b65656;">消费积分！</span><br />
              <a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/$urlUtils.buildLoginUrl($flamingoRedirectUrl,$flamingoUrl,'/membercenter/enjoy?cmpid=P_edm_welcome')" target="_blank">
              <img border="0" src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/btn.png" width="91" height="22" style="display:block; margin-left:100px;" /></a></div>            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="30" align="center" valign="middle"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/line.png" width="646" height="9" align="middle" /></td>
      </tr>
      <tr>
        <td><table width="660" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="411"><table width="63%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2"><div style="font-size:14px; color:#336699;">&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/icon.png" width="14" height="14" /> <b>热门推荐</b></div></td>
                </tr>
              <tr>
                <td width="31%"><div style="padding-left:28px; font-size:12px; padding-right:20px; padding-bottom:15px; padding-top:15px; width:150px;"><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/event/yihai.html?ozutid" target="_blank"style="text-decoration:none;"><img src="http://www.jinjiang.com/event/edm/13edm/img_zhuce/1hai.jpg" width="150" height="110" border="0" style="margin-bottom:8px;" /><span style="color:#ff8300;"><b style="color:#666666;">自驾租车，满100减20</b><br />
                 <span style="font-weight:normal;color:#666666;"> 锦江会员预订一嗨租车,</span><span style="color:#ff8300;"><b style="color:;">满100立减20,更得1000积分！</b></span> 
                </span></a></div></td>
                <td width="69%"><div style="padding-left:28px; font-size:12px; padding-right:20px; padding-bottom:15px; padding-top:15px; width:150px;"><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/event/cuxiao.html?ozutid" target="_blank"style="text-decoration:none; " ><img src="http://www.jinjiang.com/event/edm/13edm/img_zhuce/xiaji.jpg" width="150" height="110" border="0" style="margin-bottom:8px;" /><span style="color:#ff8300;"><b style="color:#666666;">星级酒店夏季8折促销</b><br />
                  <span style="font-weight:normal;color:#666666;"> 9/28前,提前3天预订活动酒店3晚以上,即可享受</span><b style=" color:#ff8300;">20%优惠</b></span></a></div></td>
              </tr>
              <tr>
                <td><div style="padding-left:28px; font-size:12px; padding-right:20px; padding-bottom:15px; padding-top:15px; width:150px;"><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/promote/hotel.html?ozutid" target="_blank"style="text-decoration:none; " ><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/hyzx.jpg" width="150" height="113" border="0" style="margin-bottom:8px;" /><span style="color:#ff8300;"><b style="color:#666666;">会员专属优惠</b><br />
                  住指定酒店，享专属优惠</span></a></div></td>
                <td><div style="padding-left:28px; font-size:12px; padding-right:20px; padding-bottom:15px; padding-top:15px; width:150px;"><a href="http://www.jinjiang.com/event/item-promo/phone.html?ozutid" target="_blank"style="text-decoration:none; " ><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/pre_5.jpg" width="150" height="113" border="0" style="margin-bottom:8px;" /><span style="color:#ff8300;"><b style="color:#666666;">锦江旅行家APP<span style="font-weight:normal;">|提供非凡移动体验</span></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>立即下载</b></span></a></div></td>
              </tr>
            </table></td>
            <td width="249" valign="top"><div style="border:1px solid #ccc; width:235px;"><div style="font-size:14px; color:#336699; padding-top:8px; padding-bottom:8px;">&nbsp;<img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/icon.png" width="14" height="14" /> <b>热门推荐</b></div>
               <a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/membercenter/myclub?ozutid" target="_blank"><img  src="http://www.jinjiang.com/event/edm/13edm/img_zhuce/sc.jpg" border="0" width="235" height="145" /></a>
                <div style="padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; font-size:12px; color:#666; line-height:20px;">入会后首次预订酒店送<b style=" color:#b65656;">50元</b>优惠券,入会30天内首次成功入住,再送<b style=" color:#b65656;">1000</b>积分！<br />
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/membercenter/myclub?ozutid" target="_blank" style="color:#ff8300; font-weight:bold; text-decoration:none;">查看详情&gt;&gt;</a></div></div>
            <div style="margin-top:18px; display:block;"><div style="font-size:14px; color:#336699; padding-top:8px; padding-bottom:8px;">&nbsp;<img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/icon.png" width="14" height="14" /> <b>关注我们</b></div>
              <a href="http://e.weibo.com/2460474764/app_738247391" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/pre_6.jpg" width="119" height="76" border="0" /></a><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.weibo.com/jinjiangclub" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/pre_7.jpg" width="115" height="76" border="0" /></a></div></td>
          </tr>
        </table></td>
      </tr>
         <tr>
        <td height="10">&nbsp;</td>
      </tr>
      <tr>
        <td><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/hotel/jjhotel?ozutid" target="_blank"><img border="0" src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/l_1.jpg" width="88" height="64" /></a><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/hotel/jjinn?ozutid" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/l_2.jpg" width="85" height="64" border="0" /></a><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/hotel/bestayhotel?ozutid" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/l_3.jpg" width="88" height="64" border="0" /></a><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/travel/shct?ozutid" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/l_4.jpg" width="79" height="64" border="0" /></a><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/travel/shjjt?ozutid" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/l_5.jpg" width="72" height="64" border="0" /></a><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/travel/sht?ozutid" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/l_6.jpg" width="73" height="64" border="0" /></a><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/travel?ozutid" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/l_7.jpg" width="85" height="64" border="0" /></a><a href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com/auto?ozutid" target="_blank"><img src="http://static.jinjiang.com/opt/static/html/12edm/PEDM
/img_zhuce/l_8.jpg" width="87" height="64" border="0" /></a></td>
      </tr>
      <tr>
        <td height="25" align="center" bgcolor="#1a91bf" style="font-size:12px; color:#fff;">2013 Jinjiang International Group 锦江国际集团版权所有</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td style="padding:0 10px; color:#666; line-height:18px; font-size:12px;">
    	<p>1.为确保我们的信息不被当做垃圾邮件处理，请把锦江旅行家<a style="color:#1b5398;" href="mailto:J-Club@ejinjiang.com">J-Club@ejinjiang.com</a>添加为您的联系人！</p>
<p><span style="float:left; margin-bottom:18px;">2.</span>您之所以收到这封邮件，是因为您是锦江旅行家用户。我们保证仅向您发送关于锦江国际集团的产品、促销活动及服务的电子邮件。锦江旅行家<sup style="font-size: 0.83em;line-height: 0;vertical-align: super;"></sup>会尊重并保护您的隐私。</p>
<p>3.某些商品的价格或促销内容如有调整，请以网站(<a style="color:#1b5398;" href="http://a1789.oadz.com/link/C/1789/22/.m1WGQXWQdKMj9rIko4i6LipFp0_/p007/0/http://www.jinjiang.com?ozutid">www.jinjiang.com</a>)上最终页面为准。</p><p>4.任何问题欢迎致电联系客服中心：1010-1666，或访问帮助中心.</p>
    </td>
  </tr>
</table>

</body>
</html>