<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.vbp.memberWechat.persistence.MemberWechatMapper">

    <resultMap id="memberWechatDomainResult" type="memberWechatDomain">
        <id property="id" column="ID"/>
        <result property="mcMemberCode" column="mc_member_code"/>
        <result property="wechatId" column="wechat_id"/>
        <result property="serviceId" column="service_id"/>
    </resultMap>

    <insert id="insert"  parameterType="memberWechatDomain" >
        insert into T_MEMBER_WECHAT_INFO
        (
        ID,mc_member_code,wechat_id,service_id
        )
        values 
        (
        #{id},
        #{mcMemberCode,jdbcType=VARCHAR},
        #{wechatId,jdbcType=VARCHAR},
        #{serviceId,jdbcType=VARCHAR}
        )
    </insert>
    
    <select id="getMemberWechatByMcCode" resultMap="memberWechatDomainResult" parameterType="String">
        SELECT
         *
        FROM
          T_MEMBER_WECHAT_INFO
        WHERE
          mc_member_code = #{mcMemberCode,jdbcType=VARCHAR} and type='0' and state='1'
    </select>
    
</mapper>