<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.vbp.levelBenefit.persistence.MemberLevelBenefitMapper">
    <resultMap id="memberLevelBenefitResult" type="memberLevelBenefitDomain">
        <result property="created" column="created"/>
        <result property="memberId" column="member_id"/>
        <result property="tierId" column="tier_id"/>
        <result property="amtVal" column="amt_val"/>
        <result property="availableScore" column="available_score"/>
        <result property="newTierId" column="new_tier_id"/>
        <result property="newAmtVal" column="new_amt_val"/>
        <result property="newAvailableScore" column="new_available_score"/>
        <result property="amtDiff" column="amt_diff"/>
        <result property="scoreDiff" column="score_diff"/>
    </resultMap>

    <select id="query" resultMap="memberLevelBenefitResult">
        SELECT
         *
        FROM
          T_VBP_MEMBER_LEVEL_BENEFIT
        WHERE 1=1
          and member_id = #{memberId,jdbcType=VARCHAR}
          and created = #{time,jdbcType=VARCHAR}
    </select>
</mapper>