<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.vbp.config.persistence.SystemDictMapper">

    <resultMap id="systemDictRelResult" type="systemDict">
        <id property="id" column="ID" />
        <result property="key" column="KEY" />
        <result property="type" column="TYPE" />
        <result property="value" column="VALUE" />
    </resultMap>

    <select id="getByKey" parameterType="string" resultType="string">
       select VALUE from T_VBP_CONFIG where Key = #{key}
    </select>
    <select id = "getByType"  parameterType="string" resultType="string">
        select VALUE from T_VBP_CONFIG where TYPE = #{type}
    </select>
    
    <select id="getIdByKey" parameterType="string" resultType = "Long">
        select t.id from T_VBP_CONFIG t where t.key = #{key} 
    </select>

    <select id="queryAll" resultMap="systemDictRelResult">
        select * from T_VBP_CONFIG
    </select>

    <update id="update" >
             update   T_VBP_CONFIG   c
             set   c.key=#{key}
             <if test="key!=null and key !=''">
                 , c.type=#{type}
             </if>
            <if test="key!=null and key !=''">
             , c.value=#{value}
            </if>
         where c.id=#{id}
    </update>

    <insert id="insert">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT S_VBP_CONFIG.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO T_VBP_CONFIG
        (
        ID,
        KEY,
        TYPE,
        VALUE
        )VALUES
        (
        #{id},
        #{key,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR},
        #{value,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="deleteByKey" parameterType="string">
        delete from T_VBP_CONFIG where KEY = #{key}
    </delete>

    <delete id="deleteByType" parameterType="string">
        delete from T_VBP_CONFIG where TYPE = #{type}
    </delete>

    <delete id="deleteById" parameterType="long">
        delete from T_VBP_CONFIG where ID = #{id}
    </delete>


</mapper>
