<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.vbp.memberRecommend.persistence.MemberRecommendMapper">

    <resultMap id="memberRecommendResult" type="memberRecommend">
        <id property="id" column="ID"/>
        <result property="recommenderId" column="Recommender_Id"/>
        <result property="registerId" column="Register_Id"/>
        <result property="campaign" column="Campaign"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="updateDate" column="UPDATE_DATE"/>
    </resultMap>

    <insert id="insert"  parameterType="memberRecommend" >
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT S_VBP_MEMBER_RECOMMEND.NEXTVAL FROM DUAL
        </selectKey>
        insert into T_VBP_MEMBER_RECOMMEND
        (
        ID,
        Recommender_Id,
        Register_Id,
        Campaign,
        CREATE_DATE
        )
        values 
        (
        #{id},
        #{recommenderId,jdbcType=VARCHAR},
        #{registerId,jdbcType=VARCHAR},
        #{campaign,jdbcType=VARCHAR},
        sysdate
        )
    </insert>

    <insert id="insertMemberRecommendCoupon"  parameterType="memberRecommendCoupon" >
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT S_VBP_MEMBER_RECOMMEND_COUPON.NEXTVAL FROM DUAL
        </selectKey>
        insert into T_VBP_MEMBER_RECOMMEND_COUPON (
	        ID,
	        Recommender_Id,
    	    Campaign
        ) values  (
	        #{id},
	        #{recommenderId,jdbcType=VARCHAR},
	        #{campaign,jdbcType=VARCHAR}
        )
    </insert>
    
    <select id="queryByRecommenderId" resultMap="memberRecommendResult" parameterType="String">
        SELECT
         *
        FROM
          T_VBP_MEMBER_RECOMMEND
        WHERE
          Recommender_Id = #{recommenderId,jdbcType=VARCHAR}
        order by CREATE_DATE
    </select>
    
    
    <select id="countByRecommenderId" resultType="int" parameterType="String">
        SELECT
         count(id)
        FROM
          T_VBP_MEMBER_RECOMMEND
        WHERE
          Recommender_Id = #{recommenderId,jdbcType=VARCHAR}
    </select>
    
    <select id="queryTopNByRecommenderId" resultMap="memberRecommendResult">
        SELECT * FROM
        (SELECT
         *
        FROM
          T_VBP_MEMBER_RECOMMEND
        WHERE
          RECOMMENDER_ID = #{recommenderId,jdbcType=VARCHAR}
          AND CAMPAIGN = #{campaign,jdbcType=VARCHAR}
        order by CREATE_DATE)
        <![CDATA[WHERE ROWNUM<=#{recommendTimes,jdbcType=DECIMAL}]]>
    </select>
    
    <sql id="queryRecommendRegisterCouponSql">
    select mre.recommender_id from (  
			select r.recommender_id
			  from T_VBP_MEMBER_RECOMMEND r
			 where r.CAMPAIGN = #{campaign,jdbcType=VARCHAR}
			 group by r.recommender_id
			having <![CDATA[ count(r.id) >= #{num,jdbcType=DECIMAL}]]>
		 )  mre
		 where mre.recommender_id not in(select rc.recommender_id from T_VBP_MEMBER_RECOMMEND_COUPON rc)
    </sql>
    
    <select id="queryRecommendRegisterCouponCount" resultType="int" parameterType="HashMap">
        SELECT
         count(1)
        FROM
         ( <include refid="queryRecommendRegisterCouponSql"/>)
    </select>
    
    <select id="queryRecommendRegisterCoupon"  resultMap="memberRecommendResult" parameterType="HashMap">
         <include refid="queryRecommendRegisterCouponSql"/>
    </select>
    
</mapper>