<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.jje.membercenter.commonContact.persistence.CommonlyUsedContactMapper">

	<resultMap type="commonlyUsedContact" id="commonlyUsedContactMap">
		<id property="id" column="ID" />
		<result property="mcMemberCode" column="MC_MEMBER_CODE" />
		<result property="name" column="NAME" />
		<result property="identityType" column="IDENTITY_TYPE" />
		<result property="identityNo" column="IDENTITY_NO" />
		<result property="birthday" column="BIRTHDAY" />
		<result property="phone" column="PHONE" />
		<result property="gender" column="GENDER" />
		<result property="cardNo" column="CARD_NO" />
		<result property="enFirstName" column="EN_FIRST_NAME" />
		<result property="enLastName" column="EN_LAST_NAME" />
		<result property="certificateAddress" column="CERTIFICATE_ADDRESS" />
		<result property="certificateDate" column="CERTIFICATE_DATE" />
		<result property="label" column="LABEL" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateDate" column="UPDATE_DATE" />
	</resultMap>

	<resultMap type="memberLevel" id="memberLevelMap">
		<result property="name" column="NAME" />
		<result property="identityType" column="IDENTITY_TYPE" />
		<result property="identityNo" column="IDENTITY_NO" />
		<result property="cardNo" column="CARD_NO" />
		<result property="mcMemberCode" column="MC_MEMBER_CODE" />
		<result property="scoreLevel" column="SCORE_LEVEL" />
	</resultMap>

	<select id="queryCommonlyUsedContactsWithoutPagination"
		parameterType="string" resultMap="commonlyUsedContactMap">
		select contact.* from
		t_vbp_commonly_used_contact contact
		where
		contact.MC_MEMBER_CODE = #{mcMemberCode}
		<if test="label !=null and label != ''">
			and contact.LABEL = #{label}
		</if>
	</select>

	<insert id="addCommonlyUsedContact">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT
			S_VBP_COMMONLY_USED_CONTACT.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO t_vbp_commonly_used_contact
		(ID,
		MC_MEMBER_CODE,
		NAME,
		IDENTITY_TYPE,
		IDENTITY_NO,
		BIRTHDAY,
		PHONE,
		GENDER,
		CARD_NO,
		EN_FIRST_NAME,
		EN_LAST_NAME,
		CERTIFICATE_ADDRESS,
		CERTIFICATE_DATE,
		LABEL
		)
		VALUES
		(#{id},
		#{mcMemberCode},
		#{name},
		#{identityType},
		#{identityNo,jdbcType=VARCHAR},
		#{birthday},
		#{phone,jdbcType=VARCHAR},
		#{gender,jdbcType=VARCHAR},
		#{cardNo,jdbcType=VARCHAR},
		#{enFirstName,jdbcType=VARCHAR},
		#{enLastName,jdbcType=VARCHAR},
		#{certificateAddress,jdbcType=VARCHAR},
		#{certificateDate,jdbcType=DATE},
		#{label,jdbcType=VARCHAR}
		)
	</insert>

	<select id="queryMemberLevel" resultMap="memberLevelMap">
		SELECT i.CARD_NO,
		i.MC_MEMBER_CODE, s.SCORE_LEVEL
		FROM MEMBER_MEM_INFO i,
		T_VBP_MEMBER_SCORE_LEVEL_INFO s
		WHERE i.NAME =
		#{name}
		AND
		i.IDENTITY_TYPE = #{identityType}
		AND UPPER(i.IDENTITY_NO) =
		UPPER(#{identityNo})
		AND i.STATUS = 'Active'
		AND i.ID = s.MEMBER_INFO_ID
		ORDER BY s.SCORE_LEVEL DESC
	</select>

</mapper>