<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.vbp.bigcustomer.persistence.CustomerMapper">
    <resultMap type="bigCustomer" id="bigCustomerResultMap">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="accountId" column="ACCOUNT_ID"/>
        <result property="createDate" column="CREATE_DATE"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <result property="channel" column="CHANNEL"/>
        <result property="contactName" column="CONTACT_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="mcMemberCode" column="MC_MEMBER_CODE"/>
        <result property="crmId" column="CRM_ID"/>
    </resultMap>


    <select id="query" resultMap="bigCustomerResultMap">
  SELECT b.* FROM T_VBP_BIG_CUSTOMER_ACCOUNT c ,T_VBP_BIG_CUSTOMER b 
  	where c.USERNAME = #{username} AND c.PASSWORD = #{password} AND c.ID = b.ACCOUNT_ID
</select>


    <select id="queryBigCustomerByAccount" resultMap="bigCustomerResultMap">
      select * from t_vbp_big_customer where id in (
          SELECT cm.big_customer_id FROM  t_vbp_big_customer_account ca,T_VBP_BIG_CUSTOMER_MIDDLE cm where ca.password= #{password} and ca.username = #{username} and cm.account_id =ca.id
      )
    </select>

    <select id="findByMcCode" parameterType="string" resultMap="bigCustomerResultMap">
  SELECT * FROM T_VBP_BIG_CUSTOMER WHERE MC_MEMBER_CODE=#{mcMemberCode}

</select>

    <select id="queryAll" resultMap="bigCustomerResultMap">
   SELECT * FROM T_VBP_BIG_CUSTOMER
</select>

    <update id="update">
        update T_VBP_BIG_CUSTOMER
        <set>
            <if test="channel !=null and  channel != ''">
                channel = #{channel, jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findById" parameterType="string" resultMap="bigCustomerResultMap">
    SELECT * FROM T_VBP_BIG_CUSTOMER WHERE ID=#{id}

</select>

    <select id="findByCrmId" parameterType="string" resultMap="bigCustomerResultMap">
    SELECT * FROM T_VBP_BIG_CUSTOMER WHERE CRM_ID=#{crmId}

</select>



</mapper>
