<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.membercenter.campaign.persistence.LotteryCoinMapper">

    <resultMap id="lotteryCoinResult" type="lotteryCoin">
		<id property="id" column="ID" />
		<result property="mcMemberCode" column="MC_MEMBER_CODE" />
		<result property="availableLotteryCoin" column="AVAILABLE_LOTTERY_COIN" />
	</resultMap>
	<resultMap id="lotteryCoinDetailResult" type="lotteryCoinDetail" >
		<id property="id" column="ID"/>
		<result property="lotteryCoin.mcMemberCode" column="MC_MEMBER_CODE" />
		<result property="operateCategory" column="OPERATE_CATEGORY" />
		<result property="coinQuantity" column="COIN_QUANTITY" />
		<result property="createDate" column="CREATE_DATE" />
	</resultMap>

     <select id="queryLotteryCoin" resultMap="lotteryCoinResult">
		SELECT * 
		FROM T_VBP_LOTTERY_COIN c 
		where c.MC_MEMBER_CODE = #{mcMemberCode}
	</select>

     <select id="getOperateLotteryCoin" resultType="long">
		SELECT t.LOTTERY_COIN 
		FROM T_VBP_LOTTERY_COIN_RULE t
		where t.OPERATE_NAME = #{lotteryCoinOperateCategory}
	</select>

    <insert id="insertLotteryCoin" parameterType="lotteryCoin">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
           SELECT S_VBP_LOTTERY_COIN.NEXTVAL FROM DUAL
        </selectKey>
	        INSERT INTO T_VBP_LOTTERY_COIN(
	        ID, 
	        MC_MEMBER_CODE, 
	        AVAILABLE_LOTTERY_COIN, 
	        UPDATE_DATE
	        )VALUES(
	        #{id},
	        #{mcMemberCode,jdbcType=VARCHAR},
	        #{availableLotteryCoin,jdbcType=INTEGER},
	        SYSDATE)
    </insert>

    <update id="updateAvailableLotteryCoin" parameterType="lotteryCoin">
		UPDATE
		T_VBP_LOTTERY_COIN
		<trim suffixOverrides="," prefix="set">
             AVAILABLE_LOTTERY_COIN = #{availableLotteryCoin},
             UPDATE_DATE = SYSDATE
        </trim>
		WHERE
		   MC_MEMBER_CODE = #{mcMemberCode}
    </update>
    
     <insert id="insertLotteryCoinDetail" parameterType="lotteryCoinDetail">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
           SELECT S_VBP_LOTTERY_COIN_DETAIL.NEXTVAL FROM DUAL
        </selectKey>
	        INSERT INTO T_VBP_LOTTERY_COIN_DETAIL(
		        ID, 
		        LOTTERY_COIN_ID,
		        OPERATE_CATEGORY, 
		        COIN_QUANTITY, 
		        CREATE_DATE
	        )VALUES(
		        #{id},
		        #{lotteryCoin.id},
		        #{operateCategory,jdbcType=VARCHAR},
		        #{coinQuantity,jdbcType=INTEGER},
		        SYSDATE
		    )
    </insert>
    
    <select id="selectLotteryCoinDetail" resultMap="lotteryCoinDetailResult" parameterType="lotteryCoinDetail">
		SELECT C.MC_MEMBER_CODE,CD.*
		 FROM T_VBP_LOTTERY_COIN C, T_VBP_LOTTERY_COIN_DETAIL CD
		WHERE CD.LOTTERY_COIN_ID = C.ID
		<if test="lotteryCoin.mcMemberCode != null and lotteryCoin.mcMemberCode != '' ">
		  AND C.MC_MEMBER_CODE = #{lotteryCoin.mcMemberCode}
		</if>
		<if test="operateCategory != null and operateCategory != '' ">
		  AND CD.OPERATE_CATEGORY = #{operateCategory}
		</if>
	</select>
    

</mapper>