<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.vbp.sns.persistence.ThirdpartyBindMapper">

	<resultMap id="thirdpartyBindResult" type="thirdpartyBind">
		<id property="id" column="ID" />
		<id property="mcMemberCode" column="MC_MEMBERCODE" />
		<id property="memberId" column="MEM_NUM" />
		<id property="thirdpartyType" column="THIRDPARTY_TYPE" />
		<id property="thirdpartySign" column="THIRDPARTY_SIGN" />
		<id property="thirdpartyLevel" column="THIRDPARTY_LEVEL" />
		<id property="vipFlag" column="VIP_FLAG" />
		<id property="originLevel" column="ORIG_LEVEL" />
		<id property="destinationLevel" column="DEST_LEVEL" />
		<id property="registerFlag" column="REGISTER_FLAG" />
		<id property="scoreFlag" column="SCORE_FLAG" />
		<id property="couponFlag" column="COUPON_FLAG" />
		<id property="createDate" column="CREATE_DATE" />
	</resultMap>
	

    <select id="query"  resultMap="thirdpartyBindResult">
		SELECT * FROM T_VBP_THIRDPARTY_BIND WHERE 1=1
		<if test="mcMemberCode != null and  mcMemberCode != '' ">
				AND MC_MEMBERCODE = #{mcMemberCode}
		</if>
		<if test="thirdpartyType != null and  thirdpartyType != '' ">
				AND THIRDPARTY_TYPE = #{thirdpartyType}
		</if>
		<if test="thirdpartySign != null and  thirdpartySign != '' ">
				AND THIRDPARTY_SIGN = #{thirdpartySign}
		</if>
	</select>
	
	<select id="queryByMcMemberCode"  resultMap="thirdpartyBindResult">
		SELECT * FROM T_VBP_THIRDPARTY_BIND 
		WHERE MC_MEMBERCODE = #{mcMemberCode,jdbcType=VARCHAR} AND THIRDPARTY_TYPE = #{thirdpartyType,jdbcType=VARCHAR}
	</select>
	
	<select id="queryBySign"  resultMap="thirdpartyBindResult">
		SELECT * FROM T_VBP_THIRDPARTY_BIND 
		WHERE THIRDPARTY_SIGN = #{thirdpartySign,jdbcType=VARCHAR} AND THIRDPARTY_TYPE = #{thirdpartyType,jdbcType=VARCHAR}
	</select>

	<insert id="save" parameterType="thirdpartyBind">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
      SELECT S_VBP_THIRDPARTY_BIND.NEXTVAL FROM DUAL
        </selectKey>
		    INSERT INTO
		      T_VBP_THIRDPARTY_BIND
		      (
		        ID,
		        MC_MEMBERCODE,
		        MEM_NUM,
		        THIRDPARTY_TYPE,
		        THIRDPARTY_SIGN,
		        THIRDPARTY_LEVEL,
		        VIP_FLAG,
		        ORIG_LEVEL,	
				DEST_LEVEL,	
				REGISTER_FLAG,	
				SCORE_FLAG,	
				COUPON_FLAG,	
		        CREATE_DATE
		      )
		    values
		      (
		        #{id},
		        #{mcMemberCode,jdbcType=VARCHAR},
		        #{memberId,jdbcType=VARCHAR},
		        #{thirdpartyType,jdbcType=VARCHAR},
		        #{thirdpartySign,jdbcType=VARCHAR},
		        #{thirdpartyLevel,jdbcType=VARCHAR},
		        #{vipFlag,jdbcType=VARCHAR},
		        #{originLevel,jdbcType=VARCHAR},
		        #{destinationLevel,jdbcType=VARCHAR},
		        #{registerFlag,jdbcType=VARCHAR},
		        #{scoreFlag,jdbcType=VARCHAR},
		        #{couponFlag,jdbcType=VARCHAR},
		        SYSDATE
		      )
    </insert>
 
</mapper>