<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <!-- changes from the defaults -->
    <setting name="lazyLoadingEnabled" value="false" />
  </settings>
  <typeAliases>
		<typeAlias alias="member" type="com.jje.membercenter.domain.Member"/>
		<typeAlias alias="memberCardOrder" type="com.jje.membercenter.domain.MemberCardOrder"/>
		<typeAlias alias="cardOrderHistory" type="com.jje.vbp.order.domain.CardOrderHistory"/>
		<typeAlias alias="memberCoupon" type="com.jje.membercenter.domain.MemberCoupon"/>
		<typeAlias alias="memberFeedback" type="com.jje.membercenter.domain.MemberFeedback"/>
		<typeAlias alias="memberSubFeedback" type="com.jje.membercenter.domain.MemberSubFeedback"/>
		<typeAlias alias="basedata" type="com.jje.membercenter.domain.BaseData"/>
		<typeAlias alias="memberScoreRedeem" type="com.jje.membercenter.domain.MemberScoreRedeem"/>
		<typeAlias alias="memberXml" type="com.jje.membercenter.domain.MemberXml"/>
		<typeAlias alias="memberOrderNote" type="com.jje.membercenter.domain.MemberOrderNote"/>
		<typeAlias alias="memberVerfy" type="com.jje.membercenter.domain.MemberVerfy"/>
		<typeAlias alias="memberMemCard" type="com.jje.membercenter.domain.MemberMemCard"/>
		<typeAlias alias="note" type="com.jje.membercenter.domain.Note"/>
		<typeAlias alias="scoreOrder" type="com.jje.membercenter.domain.ScoreOrder"/>
		<typeAlias alias="memberScoreLevelInfo" type="com.jje.membercenter.domain.MemberScoreLevelInfo"/>
		<typeAlias alias="dataCode" type="com.jje.membercenter.support.domain.DataCode"/>
		<typeAlias alias="webMember" type="com.jje.membercenter.domain.WebMember"/>
		<typeAlias alias="appMember" type="com.jje.membercenter.domain.AppMember"/> 
		<typeAlias alias="lotteryCoin" type="com.jje.membercenter.campaign.domain.LotteryCoin"/>
		<typeAlias alias="referrerInfo" type="com.jje.membercenter.domain.ReferrerInfo"/>
		<typeAlias alias="lotteryCoinDetail" type="com.jje.membercenter.campaign.domain.LotteryCoinDetail"/>
		<typeAlias alias="commonlyUsedContact" type="com.jje.membercenter.commonContact.domain.CommonlyUsedContact"/>
		<typeAlias alias="memberLevel" type="com.jje.membercenter.commonContact.domain.MemberLevel"/>
		<typeAlias alias="bigCustomer" type="com.jje.vbp.bigcustomer.domain.BigCustomer"/>
		<typeAlias alias="customerAccount" type="com.jje.vbp.bigcustomer.domain.CustomerAccount"/>
		<typeAlias alias="thirdpartyBind" type="com.jje.vbp.sns.domain.ThirdpartyBind"/>
		<typeAlias alias="memberContactsns" type="com.jje.vbp.sns.domain.MemberContactsns"/>
		<typeAlias alias="memberScoreTrade" type="com.jje.membercenter.score.domain.MemberScoreTrade"/>
        <typeAlias alias="memberPoints" type="com.jje.vbp.points.domain.MemberPoints" />
        <typeAlias alias="systemDict" type="com.jje.vbp.config.domain.SystemDict" />
        <typeAlias alias="opRecordLogDomain" type="com.jje.membercenter.domain.OpRecordLogDomain" />
        <typeAlias alias="validateCode" type="com.jje.membercenter.domain.ValidateCode" />
        <typeAlias alias="memberRecommendCoupon" type="com.jje.vbp.memberRecommend.domain.MemberRecommendCoupon" />
        <typeAlias alias="memberRecommend" type="com.jje.vbp.memberRecommend.domain.MemberRecommendDomain" />
        <typeAlias alias="memberRecommendOrder" type="com.jje.vbp.memberRecommend.domain.MemberRecommendOrderDomain" />
        <typeAlias alias="memberLevelBenefitDomain" type="com.jje.vbp.levelBenefit.domain.MemberLevelBenefitDomain" />
        <typeAlias alias="taobaoBindingDomain" type="com.jje.vbp.taobao.domain.TaobaoBindingDomain"/>
        <typeAlias alias="memberWechatDomain" type="com.jje.vbp.memberWechat.domain.MemberWechatDomain"/>
        <typeAlias alias="memberBindEntity" type="com.jje.vbp.memberBind.domain.MemberBindEntity"/>
        <typeAlias alias="memberInfoResult" type="com.jje.vbp.memberBind.domain.MemberBindEntity"/>
	</typeAliases>
    <mappers>
        <mapper resource="com/jje/common/OraclePagination.xml"/>
    </mappers>
</configuration>
