<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.membercenter.persistence.MemberMapper">

	<resultMap id="memberResult" type="member">
		<id property="id" column="ID" />
		<!-- crm数据库的rowid MEMBER_MEM_INFO -->
		<id property="memberID" column="MEM_ID" />
        <!-- 会员中心统一编号 MC_MEMBER_CODE -->
		<!--<id property="mcMemberCode" column="MC_MEMBER_CODE" />-->
		<!-- 登陆用 MEMBER_VERIFY-->
		<id property="userName" column="MEN_NAME" />
		<!-- 姓名 MEMBER_MEM_INFO-->
		<id property="fullName" column="NAME" />
		<!-- 会员号 MEMBER_MEM_INFO -->
		<id property="memberCode" column="MEM_NUM" />
		<!-- 绑定标记 MEMBER_MEM_INFO -->
		<id property="activateCode" column="ACTIVATE_CODE" />
		<!-- 卡号 MEMBER_MEM_INFO -->
		<id property="cardNo" column="CARD_NO" />
		<!-- 卡层级  MEMBER_MEM_INFO-->
		<id property="cardLevel" column="CARD_LEVEL" />
		<!-- 会员类型 MEMBER_MEM_INFO-->
		<id property="memberType" column="MEM_TYPE" />
		<!-- 会员层级  MEMBER_MEM_INFO-->
		<id property="memberHierarchy" column="MEM_TIER" />
		<!-- 登记来源 MEMBER_MEM_INFO -->
		<id property="registerSource" column="ENROLL_CHANNEL" />
		<!-- 登记日期 MEMBER_MEM_INFO-->
		<id property="registerDate" column="ENROLL_DATE" />
		<!-- 问题 MEMBER_MEM_INFO-->
		<id property="remindQuestion" column="QUESTION" />
		<!-- 答案 MEMBER_MEM_INFO-->
		<id property="remindAnswer" column="ANSWER" />
		<!-- 状态 MEMBER_MEM_INFO-->
		<id property="status" column="STATUS" />
<!-- 		<id property="currentScore" column="current_score" /> -->
		<!--  MEMBER_MEM_INFO-->
		<id property="email" column="EMAIL" />
		<id property="cellPhone" column="PHONE" />
		<!--登陆用密码 MEMBER_VERIFY  -->
		<id property="password" column="PASSWORD" />
		<id property="lastUpd" column="LAST_UPD"/>
		
		<!-- 新会员层级  MEMBER_MEM_INFO-->
		<id property="newMemberHierarchy" column="NEW_MEM_TIER" />
		
		<!--  MEMBER_MEM_INFO-->
		<id property="identityType" column="IDENTITY_TYPE" />
		<id property="identityNo" column="IDENTITY_NO" />
		<id property="title" column="TITLE" />
		<id property="mcMemberCode" column="MC_MEMBER_CODE" />
		<id property="thirdpartyType" column="THIRDPARTY_TYPE" />
        <id property="mCustomerId" column="M_CUSTOMER_ID" />
		<collection property="cardList" column="ID" javaType="ArrayList" ofType="memberMemCard"  select="queryCardInfoByMemberInfoId" />
		<collection property="memberVerfyList" column="ID" javaType="ArrayList" ofType="memberVerfy"  select="queryVerifyInfoByInfoId" />
	</resultMap>
	
	<resultMap id="memberResult2" type="member">
		<id property="id" column="ID" />
		<!-- crm数据库的rowid MEMBER_MEM_INFO -->
		<id property="memberID" column="MEM_ID" />
        <!-- 会员中心统一编号 MC_MEMBER_CODE -->
		<!--<id property="mcMemberCode" column="MC_MEMBER_CODE" />-->
		<!-- 登陆用 MEMBER_VERIFY-->
		<id property="userName" column="MEN_NAME" />
		<!-- 姓名 MEMBER_MEM_INFO-->
		<id property="fullName" column="NAME" />
		<!-- 会员号 MEMBER_MEM_INFO -->
		<id property="memberCode" column="MEM_NUM" />
		<!-- 绑定标记 MEMBER_MEM_INFO -->
		<id property="activateCode" column="ACTIVATE_CODE" />
		<!-- 卡号 MEMBER_MEM_INFO -->
		<id property="cardNo" column="CARD_NO" />
		<!-- 卡层级  MEMBER_MEM_INFO-->
		<id property="cardLevel" column="CARD_LEVEL" />
		<!-- 会员类型 MEMBER_MEM_INFO-->
		<id property="memberType" column="MEM_TYPE" />
		<!-- 会员层级  MEMBER_MEM_INFO-->
		<id property="memberHierarchy" column="MEM_TIER" />
		<!-- 登记来源 MEMBER_MEM_INFO -->
		<id property="registerSource" column="ENROLL_CHANNEL" />
		<!-- 登记日期 MEMBER_MEM_INFO-->
		<id property="registerDate" column="ENROLL_DATE" />
		<!-- 问题 MEMBER_MEM_INFO-->
		<id property="remindQuestion" column="QUESTION" />
		<!-- 答案 MEMBER_MEM_INFO-->
		<id property="remindAnswer" column="ANSWER" />
		<!-- 状态 MEMBER_MEM_INFO-->
		<id property="status" column="STATUS" />
<!-- 		<id property="currentScore" column="current_score" /> -->
		<!--  MEMBER_MEM_INFO-->
		<id property="email" column="EMAIL" />
		<id property="cellPhone" column="PHONE" />
		<!--登陆用密码 MEMBER_VERIFY  -->
		<id property="password" column="PASSWORD" />
		<id property="lastUpd" column="LAST_UPD"/>
		
		<!-- 新会员层级  MEMBER_MEM_INFO-->
		<id property="newMemberHierarchy" column="NEW_MEM_TIER" />
		
		<!--  MEMBER_MEM_INFO-->
		<id property="identityType" column="IDENTITY_TYPE" />
		<id property="identityNo" column="IDENTITY_NO" />
		<id property="title" column="TITLE" />
		<id property="mcMemberCode" column="MC_MEMBER_CODE" />
		<id property="thirdpartyType" column="THIRDPARTY_TYPE" />
        <id property="mCustomerId" column="M_CUSTOMER_ID" />
		<collection property="cardList" column="ID" javaType="ArrayList" ofType="memberMemCard"  select="queryCardInfoByMemberInfoId" />
		<collection property="memberVerfyList" column="ID" javaType="ArrayList" ofType="memberVerfy"  select="queryVerifyInfoByInfoId2" />
	</resultMap>
	
	<resultMap id="memberResult3" type="member">
		<id property="id" column="ID" />
		<!-- crm数据库的rowid MEMBER_MEM_INFO -->
		<id property="memberID" column="MEM_ID" />
        <!-- 会员中心统一编号 MC_MEMBER_CODE -->
		<!--<id property="mcMemberCode" column="MC_MEMBER_CODE" />-->
		<!-- 登陆用 MEMBER_VERIFY-->
		<id property="userName" column="MEN_NAME" />
		<!-- 姓名 MEMBER_MEM_INFO-->
		<id property="fullName" column="NAME" />
		<!-- 会员号 MEMBER_MEM_INFO -->
		<id property="memberCode" column="MEM_NUM" />
		<!-- 绑定标记 MEMBER_MEM_INFO -->
		<id property="activateCode" column="ACTIVATE_CODE" />
		<!-- 卡号 MEMBER_MEM_INFO -->
		<id property="cardNo" column="CARD_NO" />
		<!-- 卡层级  MEMBER_MEM_INFO-->
		<id property="cardLevel" column="CARD_LEVEL" />
		<!-- 会员类型 MEMBER_MEM_INFO-->
		<id property="memberType" column="MEM_TYPE" />
		<!-- 会员层级  MEMBER_MEM_INFO-->
		<id property="memberHierarchy" column="MEM_TIER" />
		<!-- 登记来源 MEMBER_MEM_INFO -->
		<id property="registerSource" column="ENROLL_CHANNEL" />
		<!-- 登记日期 MEMBER_MEM_INFO-->
		<id property="registerDate" column="ENROLL_DATE" />
		<!-- 问题 MEMBER_MEM_INFO-->
		<id property="remindQuestion" column="QUESTION" />
		<!-- 答案 MEMBER_MEM_INFO-->
		<id property="remindAnswer" column="ANSWER" />
		<!-- 状态 MEMBER_MEM_INFO-->
		<id property="status" column="STATUS" />
<!-- 		<id property="currentScore" column="current_score" /> -->
		<!--  MEMBER_MEM_INFO-->
		<id property="email" column="EMAIL" />
		<id property="cellPhone" column="PHONE" />
		<!--登陆用密码 MEMBER_VERIFY  -->
		<id property="password" column="PASSWORD" />
		<id property="lastUpd" column="LAST_UPD"/>
		
		<!-- 新会员层级  MEMBER_MEM_INFO-->
		<id property="newMemberHierarchy" column="NEW_MEM_TIER" />
		
		<!--  MEMBER_MEM_INFO-->
		<id property="identityType" column="IDENTITY_TYPE" />
		<id property="identityNo" column="IDENTITY_NO" />
		<id property="title" column="TITLE" />
		<id property="mcMemberCode" column="MC_MEMBER_CODE" />
		<id property="thirdpartyType" column="THIRDPARTY_TYPE" />
        <id property="mCustomerId" column="M_CUSTOMER_ID" />
		<collection property="cardList" column="ID" javaType="ArrayList" ofType="memberMemCard"  select="queryCardInfoByMemberInfoId" />
		<collection property="memberVerfyList" column="ID" javaType="ArrayList" ofType="memberVerfy"  select="queryVerifyInfoByInfoId3" />
	</resultMap>
	
	<resultMap id="comxMemberResult" type="member">
		<id property="id" column="ID" />
		<!-- crm数据库的rowid MEMBER_MEM_INFO -->
		<id property="memberID" column="MEM_ID" />
		<!-- 登陆用 MEMBER_VERIFY-->
		<id property="userName" column="MEN_NAME" />
		<!-- 姓名 MEMBER_MEM_INFO-->
		<id property="fullName" column="NAME" />
		<!-- 会员号 MEMBER_MEM_INFO -->
		<id property="memberCode" column="MEM_NUM" />
		<!-- 绑定标记 MEMBER_MEM_INFO -->
		<id property="activateCode" column="ACTIVATE_CODE" />
		<!-- 卡号 MEMBER_MEM_INFO -->
		<id property="cardNo" column="CARD_NO" />
		<!-- 卡层级  MEMBER_MEM_INFO-->
		<id property="cardLevel" column="CARD_LEVEL" />
		<!-- 会员类型 MEMBER_MEM_INFO-->
		<id property="memberType" column="MEM_TYPE" />
		<!-- 会员层级  MEMBER_MEM_INFO-->
		<id property="memberHierarchy" column="MEM_TIER" />
		<!-- 新会员层级  MEMBER_MEM_INFO-->
		<id property="newMemberHierarchy" column="NEW_MEM_TIER" />
		<!-- 登记来源 MEMBER_MEM_INFO -->
		<id property="registerSource" column="ENROLL_CHANNEL" />
		<!-- 登记日期 MEMBER_MEM_INFO-->
		<id property="registerDate" column="ENROLL_DATE" />
		<!-- 问题 MEMBER_MEM_INFO-->
		<id property="remindQuestion" column="QUESTION" />
		<!-- 答案 MEMBER_MEM_INFO-->
		<id property="remindAnswer" column="ANSWER" />
		<!-- 状态 MEMBER_MEM_INFO-->
		<id property="status" column="STATUS" />
<!-- 		<id property="currentScore" column="current_score" /> -->
		<!--  MEMBER_MEM_INFO-->
		<id property="email" column="EMAIL" />
		<id property="cellPhone" column="PHONE" />
		<!--登陆用密码 MEMBER_VERIFY  -->
		<id property="password" column="PASSWORD" />
		<id property="lastUpd" column="LAST_UPD"/>
		
		<!--  MEMBER_MEM_INFO-->
		<id property="identityType" column="IDENTITY_TYPE" />
		<id property="identityNo" column="IDENTITY_NO" />
		<id property="title" column="TITLE" />
		<id property="cardNo" column="X_CARD_NUM" />
		<id property="mcMemberCode" column="MC_MEMBER_CODE" />
		<id property="thirdpartyType" column="THIRDPARTY_TYPE" />
        <id property="mCustomerId" column="M_CUSTOMER_ID" />
		<collection property="cardList" column="ID" javaType="ArrayList" ofType="memberMemCard"  select="queryCardInfoByMemberInfoId" />
		<collection property="memberVerfyList" column="ID" javaType="ArrayList" ofType="memberVerfy"  select="queryVerifyInfoByInfoId" />
	</resultMap>
	
	
	
	<resultMap id="memberVerfyResult" type="memberVerfy">
		<id property="memInfoId" column="MEM_INFO_ID" />
		<id property="memId" column="MEM_ID" />
		<id property="memNum" column="MEM_NUM" />
		<id property="menName" column="MEN_NAME" />
		<id property="password" column="PASSWORD" />
	</resultMap>
	<resultMap id="memberMemCardResult" type="memberMemCard">
		<id property="id" column="ID" />
		<id property="memInfoId" column="MEM_INFO_ID" />
		<id property="memId" column="MEM_ID" />
		<id property="cardTypeCd" column="CARD_TYPE_CD" />
		<id property="xCardNum" column="X_CARD_NUM" />
		<id property="source" column="SOURCE" />
		<id property="validDate" column="VALID_DATE" />
		<id property="dueDate" column="DUE_DATE" />
		<id property="status" column="STATUS" />
		<id property="crmKey" column="CRM_KEY" />
		<id property="dtStatus" column="DT_STATUS" />
		<id property="dtMsg" column="DT_MSG" />
		<id property="dtUpd" column="DT_UPD" />
	</resultMap>
	

	
	<resultMap id="appMemberResult" type="appMember">
		<id property="id" column="ID" />
		<id property="memberId" column="MEM_ID" />
		<id property="fullName" column="NAME" />
		<id property="phone" column="PHONE" />
		<id property="email" column="EMAIL" />
		<id property="cardNo" column="TEMP_CARD_NO" />
		<id property="memberCode" column="MEM_NUM" />
		<id property="cardLevel" column="CARD_LEVEL" />
		<id property="availableScore" column="AVAILABLE_SCORE" />
		<id property="mcMemberCode" column="MC_MEMBER_CODE" />
		<id property="identityType" column="IDENTITY_TYPE" />
		<id property="identityNo" column="IDENTITY_NO" />
		<id property="mCustomerId" column="M_CUSTOMER_ID" />
        <id property="memberHierarchy" column="MEM_TIER" />
        <id property="registTag" column="REGIST_TAG"/>
        <!-- 新会员层级  MEMBER_MEM_INFO-->
		<id property="newMemberHierarchy" column="NEW_MEM_TIER" />
		<collection property="cardList" column="ID" javaType="ArrayList" ofType="memberMemCard"  select="queryCardInfoByMemberInfoId" />
	</resultMap>
	
	
	<resultMap id="singleMemberResult" type="member">
		<id property="id" column="ID" />
		<!-- crm数据库的rowid MEMBER_MEM_INFO -->
		<id property="memberID" column="MEM_ID" />
		<!-- 登陆用 MEMBER_VERIFY-->
		<id property="userName" column="MEN_NAME" />
		<!-- 姓名 MEMBER_MEM_INFO-->
		<id property="fullName" column="NAME" />
		<!-- 会员号 MEMBER_MEM_INFO -->
		<id property="memberCode" column="MEM_NUM" />
		<!-- 绑定标记 MEMBER_MEM_INFO -->
		<id property="activateCode" column="ACTIVATE_CODE" />
		<!-- 卡号 MEMBER_MEM_INFO -->
		<id property="cardNo" column="CARD_NO" />
		<!-- 卡层级  MEMBER_MEM_INFO-->
		<id property="cardLevel" column="CARD_LEVEL" />
		<!-- 会员类型 MEMBER_MEM_INFO-->
		<id property="memberType" column="MEM_TYPE" />
		<!-- 会员层级  MEMBER_MEM_INFO-->
		<id property="memberHierarchy" column="MEM_TIER" />
		<!-- 新会员层级  MEMBER_MEM_INFO-->
		<id property="newMemberHierarchy" column="NEW_MEM_TIER" />
		<!-- 登记来源 MEMBER_MEM_INFO -->
		<id property="registerSource" column="ENROLL_CHANNEL" />
		<!-- 登记日期 MEMBER_MEM_INFO-->
		<id property="registerDate" column="ENROLL_DATE" />
		<!-- 问题 MEMBER_MEM_INFO-->
		<id property="remindQuestion" column="QUESTION" />
		<!-- 答案 MEMBER_MEM_INFO-->
		<id property="remindAnswer" column="ANSWER" />
		<!-- 状态 MEMBER_MEM_INFO-->
		<id property="status" column="STATUS" />
<!-- 		<id property="currentScore" column="current_score" /> -->
		<!--  MEMBER_MEM_INFO-->
		<id property="email" column="EMAIL" />
		<id property="cellPhone" column="PHONE" />	
		
		<!--  MEMBER_MEM_INFO-->
		<id property="identityType" column="IDENTITY_TYPE" />
		<id property="identityNo" column="IDENTITY_NO" />
		<id property="title" column="TITLE" />	
		<id property="mcMemberCode" column="MC_MEMBER_CODE" />	
		<id property="thirdpartyType" column="THIRDPARTY_TYPE" />
	</resultMap>


	<resultMap id="comxSingleMemberResult" type="member">
		<id property="id" column="ID" />
		<!-- crm数据库的rowid MEMBER_MEM_INFO -->
		<id property="memberID" column="MEM_ID" />
		<!-- 登陆用 MEMBER_VERIFY-->
		<id property="userName" column="MEN_NAME" />
		<!-- 姓名 MEMBER_MEM_INFO-->
		<id property="fullName" column="NAME" />
		<!-- 会员号 MEMBER_MEM_INFO -->
		<id property="memberCode" column="MEM_NUM" />
		<!-- 绑定标记 MEMBER_MEM_INFO -->
		<id property="activateCode" column="ACTIVATE_CODE" />
		<!-- 卡号 MEMBER_MEM_INFO -->
		<id property="cardNo" column="CARD_NO" />
		<!-- 卡层级  MEMBER_MEM_INFO-->
		<id property="cardLevel" column="CARD_LEVEL" />
		<!-- 会员类型 MEMBER_MEM_INFO-->
		<id property="memberType" column="MEM_TYPE" />
		<!-- 会员层级  MEMBER_MEM_INFO-->
		<id property="memberHierarchy" column="MEM_TIER" />
		<!-- 新会员层级  MEMBER_MEM_INFO-->
		<id property="newMemberHierarchy" column="NEW_MEM_TIER" />
		<!-- 登记来源 MEMBER_MEM_INFO -->
		<id property="registerSource" column="ENROLL_CHANNEL" />
		<!-- 登记日期 MEMBER_MEM_INFO-->
		<id property="registerDate" column="ENROLL_DATE" />
		<!-- 问题 MEMBER_MEM_INFO-->
		<id property="remindQuestion" column="QUESTION" />
		<!-- 答案 MEMBER_MEM_INFO-->
		<id property="remindAnswer" column="ANSWER" />
		<!-- 状态 MEMBER_MEM_INFO-->
		<id property="status" column="STATUS" />
<!-- 		<id property="currentScore" column="current_score" /> -->
		<!--  MEMBER_MEM_INFO-->
		<id property="email" column="EMAIL" />
		<id property="cellPhone" column="PHONE" />	
		
		<!--  MEMBER_MEM_INFO-->
		<id property="identityType" column="IDENTITY_TYPE" />
		<id property="identityNo" column="IDENTITY_NO" />
		<id property="title" column="TITLE" />	
		<id property="cardNo" column="X_CARD_NUM" />	

	</resultMap>

	<select id="queryMember" resultMap="memberResult">
		SELECT   m.NAME, m.CARD_NO, m.PHONE, m.EMAIL, m.MEM_TIER, m.NEW_MEM_TIER, m.MEM_NUM
		FROM MEMBER_MEM_INFO m
		WHERE 1=1
		<include refid="queryMemberConditionQuery"/>
	</select>
	
	<select id="queryMemberByCardNo" resultMap="memberResult">
		SELECT DISTINCT  m.NAME, m.CARD_NO, m.PHONE, m.EMAIL, m.MEM_TIER, m.NEW_MEM_TIER,m.MEM_NUM
		FROM MEMBER_MEM_INFO m, MEMBER_MEM_CARD c
		WHERE c.MEM_INFO_ID = m.ID AND c.X_CARD_NUM = #{cardNo} 
		AND C.CARD_TYPE_CD IN('Silver','Gold','Platinum','Black', 'Star Hotel Card')
		<include refid="queryMemberConditionQuery"/>
	</select>
	
	<sql id="queryMemberConditionQuery">
		<if test="phone != null and  phone != '' ">
				AND m.PHONE = #{phone}
			</if>
			<if test="email != null and  email != '' ">
				AND m.EMAIL = #{email}
			</if>
			<if test="name != null and  name != '' ">
				AND m.NAME = #{name}
			</if>
			<if test="identityType != null and  identityType != '' ">
				AND m.IDENTITY_TYPE = #{identityType}
			</if>
			<if test="identityNo != null and  identityNo != '' ">
				AND UPPER(m.IDENTITY_NO)= UPPER(#{identityNo})
			</if>	
	</sql>

	
	<select id="getFullMemberByMcMemberCode"  resultMap="appMemberResult">
		SELECT m.ID, m.MEM_ID,m.MEM_NUM, m.EMAIL, m.PHONE, m.CARD_NO TEMP_CARD_NO, m.NAME, m.CARD_LEVEL,m.MC_MEMBER_CODE, m.MEM_TIER, m.NEW_MEM_TIER,score.AVAILABLE_SCORE,m.IDENTITY_TYPE,m.IDENTITY_NO,m.M_CUSTOMER_ID, m.REGIST_TAG 
		FROM MEMBER_MEM_INFO m, T_VBP_MEMBER_SCORE_LEVEL_INFO score
		WHERE m.ID = score.MEMBER_INFO_ID  AND m.MC_MEMBER_CODE = #{mcMemberCode}
	</select>
	
	<select id="queryVerifyInfoByInfoId" parameterType="long" resultMap="memberVerfyResult">
		SELECT * FROM MEMBER_VERIFY M
			WHERE M.MEM_INFO_ID = #{memInfoId} 
	</select>
	<select id="queryCardInfoByMemberInfoId" parameterType="long" resultMap="memberMemCardResult">
		SELECT * FROM MEMBER_MEM_CARD M
			WHERE M.MEM_INFO_ID = #{memInfoId} AND M.STATUS != 'Expired' AND M.STATUS != 'Logout'
	</select>


	<select id="queryByUsernameOrCellphoneOrEmail" parameterType="string" resultMap="memberResult">
		SELECT M.* FROM MEMBER_MEM_INFO M  
			WHERE M.ID IN (SELECT C.MEM_INFO_ID FROM MEMBER_VERIFY C WHERE C.MEN_NAME = #{usernameOrCellphoneOrEmail})
	</select>
	
	<select id="queryVerifyInfoByInfoId2" parameterType="long" resultMap="memberVerfyResult">
		SELECT * FROM MEMBER_VERIFY_JJZX M
			WHERE M.MEM_INFO_ID = #{memInfoId} 
	</select>
	
	<select id="queryVerifyInfoByInfoId3" parameterType="long" resultMap="memberVerfyResult">
		SELECT * FROM MEMBER_VERIFY_JJZX_CONFLICT M
			WHERE M.MEM_INFO_ID = #{memInfoId} 
	</select>
	
	
	<select id="queryMemberByLoginName1" parameterType="string" resultMap="memberResult">
		SELECT M.* FROM MEMBER_MEM_INFO M  
			WHERE M.ID IN (SELECT C.MEM_INFO_ID FROM MEMBER_VERIFY C WHERE C.MEN_NAME = #{usernameOrCellphoneOrEmail})
	</select>
	
	<select id="queryMemberByLoginName2" parameterType="string" resultMap="memberResult2">
		SELECT M.* FROM MEMBER_MEM_INFO M  
			WHERE M.ID IN (SELECT C.MEM_INFO_ID FROM MEMBER_VERIFY_JJZX C WHERE C.MEN_NAME = #{usernameOrCellphoneOrEmail} AND (C.STATUS != '1' OR C.STATUS is null))
	</select>
	
	<select id="queryMemberByLoginName3" parameterType="string" resultMap="memberResult3">
		SELECT M.* FROM MEMBER_MEM_INFO M  
			WHERE M.ID IN (SELECT C.MEM_INFO_ID FROM MEMBER_VERIFY_JJZX_CONFLICT C WHERE C.MEN_NAME = #{usernameOrCellphoneOrEmail} AND (C.STATUS != '1' OR C.STATUS is null))
	</select>
	
	<select id="getMemberCardNo" parameterType="string" resultMap="memberResult">
		SELECT M.* FROM MEMBER_MEM_INFO M  
			WHERE  M.MEM_NUM = #{memberId} 
	</select>
	
	<select id="querySingleMemberByCardNo" parameterType="string" resultMap="singleMemberResult">
		    <include refid="selectAllMemberInfoSql"/>
			WHERE  M.CARD_NO= #{cardNo} 
	</select>

	<select id="queryByCellphoneOrEmail" parameterType="string" resultMap="memberResult">
		SELECT * FROM MEMBER_MEM_INFO M 
			WHERE  M.EMAIL =
				#{usernameOrCellphoneOrEmail,jdbcType=VARCHAR} OR M.PHONE =
				#{usernameOrCellphoneOrEmail,jdbcType=VARCHAR}
	</select>
	
	<select id="checkByCardNo" parameterType="string" resultMap="memberResult">
		SELECT t1.* 
		FROM MEMBER_MEM_INFO t1
		where t1.card_no = #{keyValue,jdbcType=VARCHAR} 
	</select>
	
	<select id="checkByID" parameterType="string" resultMap="memberResult">
		SELECT t1.* 
		FROM MEMBER_MEM_INFO t1
		where  t1.identity_type = 'ID' and UPPER(t1.identity_no) = UPPER(#{keyValue,jdbcType=VARCHAR})  
	</select>
	
	<select id="checkByPhone" parameterType="string" resultMap="memberResult">
		SELECT t1.* 
		FROM MEMBER_MEM_INFO t1
		where t1.phone = #{keyValue,jdbcType=VARCHAR} 
	</select>
	
	<select id="checkByEmail" parameterType="string" resultMap="memberResult">
		SELECT t1.* 
		FROM MEMBER_MEM_INFO t1
		where t1.email = #{keyValue,jdbcType=VARCHAR} 
	</select>
	
	<!--  zz add 验证注册时的邮箱和手机是否已经被注册过-->
	<select id="queryRegisterByCellphoneOrEmailOrCardNo" parameterType="string" resultMap="memberVerfyResult">
		SELECT * FROM MEMBER_VERIFY M 
			WHERE  LOWER(M.MEN_NAME) = LOWER(#{menName,jdbcType=VARCHAR}) 
	</select>
	
	<select id="queryRegisterByCellphoneOrEmailOrCardNo2" parameterType="string" resultMap="memberVerfyResult">
		SELECT * FROM MEMBER_VERIFY_JJZX M 
			WHERE  LOWER(M.MEN_NAME) = LOWER(#{menName,jdbcType=VARCHAR}) 
	</select>
	
	<!--  zz add 验证证件号和证件类型在信息表中是否存在 -->
	<!-- <select id="queryIdentifyInfo" parameterType="member" resultMap="memberResult">
		SELECT * FROM MEMBER_MEM_INFO M 
			WHERE  M.IDENTITY_TYPE = #{identityType} AND M.IDENTITY_NO = #{identityNo} 
			<if test="fullName != null and fullName != ''">
				AND M.NAME = #{fullName} 
        	</if>
        	ORDER BY M.ID ASC
	</select> -->


	<select id="queryIdentifyInfo" resultMap="comxMemberResult" >
		SELECT M.*,C.X_CARD_NUM  FROM MEMBER_MEM_INFO M ,MEMBER_MEM_CARD C
		WHERE M.ID=C.MEM_INFO_ID AND  M.IDENTITY_TYPE = #{identityType} AND UPPER(M.IDENTITY_NO) = UPPER(#{identityNo}) AND M.STATUS='Active'
		AND C.CARD_TYPE_CD IN ('Gold','Platinum','Black','Silver','Star Hotel Card')
			<if test="fullName != null and fullName != ''">
				AND M.NAME = #{fullName} 
        	</if>
        	ORDER BY C.VALID_DATE DESC
	</select>
	
	
<!--  zz add 验证证件号和证件类型在信息表中是否存在 -->
	<select id="checkIdentifyInfo" resultMap="comxSingleMemberResult" >
		SELECT M.*,C.X_CARD_NUM  FROM MEMBER_MEM_INFO M ,MEMBER_MEM_CARD C
		WHERE M.ID=C.MEM_INFO_ID AND  M.IDENTITY_TYPE = #{identityType} AND UPPER(M.IDENTITY_NO) = UPPER(#{identityNo}) AND M.STATUS='Active'
			<if test="fullName != null and fullName != ''">
				AND M.NAME = #{fullName} 
        	</if>
        	ORDER BY C.VALID_DATE DESC
	</select>
	
	<select id="getMemberByIdentify" resultMap="memberResult">
	    SELECT M.* FROM MEMBER_MEM_INFO M
	    WHERE 1=1
	    AND M.IDENTITY_TYPE= #{identityType}
	    AND UPPER(M.IDENTITY_NO) = UPPER(#{identityNo})
	</select>

    <select id="isExistAirAndCardNo" parameterType="map" resultType="integer">
		SELECT COUNT(*)
        FROM MEMBER_MEM_CARD MC
        WHERE MC.X_CARD_NUM = #{cardNo}
        AND MC.CARD_TYPE_CD = #{partnerCode}
	</select>

	<insert id="insert" parameterType="member">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
      SELECT S_T_CX_MEM_VERIFY.NEXTVAL FROM DUAL
        </selectKey>
		    INSERT INTO
		      T_CX_MEM_VERIFY
		      (
		        ROW_ID,
		        MEM_ID,
		        MEM_NAME,
		        NAME,
		        MEM_NUM,
		        MEM_CARD_NUM,
		        MEM_CARD_TYPE,
		        MEM_CARD_TIER,
		        MEM_TYPE,
		        MEM_TIER,
		        MEM_ENROLL_CHANNEL,
		        ENROLL_DATE,
		        QUESTION,
		        ANSWER,
		        STATUS,
		        EMAIL,
		        PHONE_NUM,
		        MEM_PASSWORD
		      )
		    values
		      (
		        #{id},
		        #{memberID,jdbcType=VARCHAR},
		        #{userName,jdbcType=VARCHAR},
		        #{fullName,jdbcType=VARCHAR},
		        #{memberCode,jdbcType=VARCHAR},
		        #{cardNo,jdbcType=VARCHAR},
		        #{cardType,jdbcType=VARCHAR},
		        #{cardLevel,jdbcType=VARCHAR},
		        #{memberType,jdbcType=VARCHAR},
		        #{memberHierarchy,jdbcType=VARCHAR},
		        #{registerSource,jdbcType=VARCHAR},
		        #{registerDate,jdbcType=DATE},
		        #{remindQuestion,jdbcType=VARCHAR},
		        #{remindAnswer,jdbcType=VARCHAR},
		        #{status,jdbcType=VARCHAR},
		        #{email,jdbcType=VARCHAR},
		        #{cellPhone,jdbcType=VARCHAR},
		        #{password,jdbcType=VARCHAR}
		      )
    </insert>


	<delete id="deleteMemberByMemberId" parameterType="string">
		DELETE FROM T_CX_MEM_VERIFY WHERE MEM_ID = #{memberID}
    </delete>
    
    
	<delete id="deleteMemberVerifyByMemberCode" parameterType="string">
		DELETE FROM MEMBER_VERIFY WHERE MEM_NUM = #{memberCode}
    </delete>
    
    <update id="update" parameterType="member">
		UPDATE 
		T_CX_MEM_VERIFY 
		SET 
        <if test="fullName != null and fullName != ''">
			NAME = #{fullName},
        </if>
        <if test="memberCode != null and memberCode != ''">
			MEM_NUM = #{memberCode}, 
        </if>
        <if test="cardNo != null and cardNo != ''">
			MEM_CARD_NUM = #{cardNo}, 
        </if>
        <if test="cardType != null and cardType != ''">
			MEM_CARD_TYPE = #{cardType}, 
        </if>
        <if test="cardLevel != null and cardLevel != ''">
			MEM_CARD_TIER = #{cardLevel}, 
        </if>
        <if test="memberType != null and memberType != ''">
			MEM_TYPE = #{memberType}, 
        </if>
        <if test="memberHierarchy != null and memberHierarchy != ''">
			MEM_TIER = #{memberHierarchy}, 
        </if>
        <if test="newMemberHierarchy != null and newMemberHierarchy != ''">
			NEW_MEM_TIER = #{newMemberHierarchy}, 
        </if>
        <if test="registerSource != null and registerSource != ''">
			MEM_ENROLL_CHANNEL = #{registerSource}, 
        </if>
        <if test="registerDate != null and registerDate != ''">
			ENROLL_DATE = #{registerDate}, 
        </if>
        <if test="remindQuestion != null and remindQuestion != ''">
			QUESTION = #{remindQuestion},
        </if>
        <if test="remindAnswer != null and remindAnswer != ''">
			ANSWER = #{remindAnswer},
        </if>
        <if test="status != null and status != ''">
			STATUS = #{status},
        </if>
        <if test="password != null and password != ''">
			MEM_PASSWORD = #{password},
        </if>
        <if test="cellPhone != null and cellPhone != ''">
			PHONE_NUM = #{cellPhone},
        </if>
        <if test="email != null and email != ''">
			EMAIL = #{email},
        </if>
        	MEM_ID = #{memberID}
		 WHERE 
		MEM_ID = #{memberID}
    </update>
    
    <update id="updateMemberUserNameByEmail" parameterType="member">
		UPDATE
		T_CX_MEM_VERIFY
		SET
        <if test="email != null and email != ''">
			MEM_NAME = #{email}
        </if>
		WHERE
		MEM_ID = #{memberID} AND EMAIL = MEM_NAME
    </update> 
    
    <update id="updateMemberUserNameByCellPhone" parameterType="member">
		UPDATE
		T_CX_MEM_VERIFY M
		SET
        <if test="cellPhone != null and cellPhone != ''">
			MEM_NAME = #{cellPhone}
        </if>
		WHERE
		M.MEM_ID = #{memberID} AND M.PHONE_NUM = M.MEM_NAME
    </update> 
    
    <update id="updateMemberUserNameByCardNo" parameterType="member">
		UPDATE
		T_CX_MEM_VERIFY 
		SET
        <if test="cardNo != null and cardNo != ''">
			MEM_NAME = #{cardNo} 
        </if>
		WHERE 
		MEM_ID = #{memberID} AND MEM_CARD_NUM = MEM_NAME
    </update> 
    
    
    <update id="updatePwd" parameterType="member">
		UPDATE 
		MEMBER_VERIFY 
		SET 
       <if test="password != null and password != ''">
			PASSWORD = #{password} 
        </if>
		WHERE 
		MEM_ID = #{memberID}
    </update> 
    
    <select id="queryRepeatMenName" resultMap="memberVerfyResult">
       		SELECT * FROM MEMBER_VERIFY M 
			WHERE  M.MEM_NUM != #{memberCode, jdbcType=VARCHAR} and  M.MEN_NAME = #{userName, jdbcType=VARCHAR}
    </select>
 
    
    <select id="queryByCellphone" parameterType="string" resultMap="memberResult">
		SELECT * FROM MEMBER_MEM_INFO M 
			WHERE   M.ID IN (SELECT C.MEM_INFO_ID FROM MEMBER_VERIFY C WHERE C.MEN_NAME = #{cellPhone})
	</select>
	
	<select id="queryByEmail" parameterType="string" resultMap="memberResult">
		SELECT * FROM MEMBER_MEM_INFO M 
			WHERE  M.ID IN (SELECT C.MEM_INFO_ID FROM MEMBER_VERIFY C WHERE C.MEN_NAME = #{email})
	</select>
	
	<select id="queryByCode" parameterType="string" resultMap="memberResult">
		SELECT * FROM MEMBER_MEM_INFO M
			WHERE M.MEM_NUM = #{memberCode} 
	</select>
	
	<select id="validatePhone" parameterType="string" resultMap="memberResult">
		SELECT * FROM MEMBER_MEM_INFO M 
			WHERE  M.ID IN (SELECT C.MEM_INFO_ID FROM MEMBER_VERIFY C WHERE C.MEN_NAME = #{cellPhone})
	</select>
	
	<select id="validateMail" parameterType="string" resultMap="memberResult">
		SELECT * FROM MEMBER_MEM_INFO M 
			WHERE M.ID IN (SELECT C.MEM_INFO_ID FROM MEMBER_VERIFY C WHERE C.MEN_NAME = #{email})
				
	</select>
	
	<select id="queryByMemberID" parameterType="string" resultMap="memberResult">
		SELECT * FROM MEMBER_MEM_INFO WHERE MEM_ID = #{memberID}
	</select>
	
	<update id="updateQuestion" parameterType="member">
		UPDATE 
		MEMBER_MEM_INFO 
		SET 
       <if test="remindQuestion != null and remindQuestion != ''">
			QUESTION = #{remindQuestion}
        </if>
        <if test="remindQuestion != null and remindQuestion != '' and remindAnswer != null and remindAnswer != ''">
			,
        </if>
        <if test="remindAnswer != null and remindAnswer != ''">
			ANSWER = #{remindAnswer} 
        </if>
		WHERE 
		ID = #{id}
    </update> 
    
    <insert id="insertMemberInfo" parameterType="member">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
      SELECT SEQ_MEMBER_MEM_INFO.NEXTVAL FROM DUAL
        </selectKey>
		    INSERT INTO
		      MEMBER_MEM_INFO
		      (
		        ID,
		        MEM_ID,
		        NAME,
		        MEM_NUM,
		        ACTIVATE_CODE,
		        CARD_NO,
		        CARD_LEVEL,
		        MEM_TYPE,
		        MEM_TIER,
		        NEW_MEM_TIER,
		        ENROLL_CHANNEL,
		        ENROLL_DATE,
		        QUESTION,
		        ANSWER,
		        STATUS,
		        EMAIL,
		        PHONE,
		        IDENTITY_TYPE,
		        IDENTITY_NO,
		        TITLE,
		        LAST_UPD,
		        MC_MEMBER_CODE,
		        ACTIVE_DATE,
		        ACTIVE_CHANNEL,
		        THIRDPARTY_TYPE,
                REGIST_TAG,
                ACTIVE_TAG,
                HOTEL_CHANNEL
		      )
		    VALUES
		      (
		        #{id},
		        #{memberID,jdbcType=VARCHAR},
		        #{fullName,jdbcType=VARCHAR},
		        #{memberCode,jdbcType=VARCHAR},
		        #{activateCode,jdbcType=VARCHAR},
		        #{cardNo,jdbcType=VARCHAR},
		        #{cardLevel,jdbcType=VARCHAR},
		        #{memberType,jdbcType=VARCHAR},
		        #{memberHierarchy,jdbcType=VARCHAR},
		        #{newMemberHierarchy,jdbcType=VARCHAR},
		        #{registerSource,jdbcType=VARCHAR},
		        #{registerDate,jdbcType=DATE},
		        #{remindQuestion,jdbcType=VARCHAR},
		        #{remindAnswer,jdbcType=VARCHAR},
		        #{status,jdbcType=VARCHAR},
		        #{email,jdbcType=VARCHAR},
		        #{cellPhone,jdbcType=VARCHAR},
		        #{identityType,jdbcType=VARCHAR},
		        #{identityNo,jdbcType=VARCHAR},
		        #{title,jdbcType=VARCHAR},
		        #{lastUpd,jdbcType=DATE},
		        #{mcMemberCode,jdbcType=VARCHAR},
		        #{activeDate,jdbcType=TIMESTAMP},
		        #{activeChannel,jdbcType=VARCHAR},
		        #{thirdpartyType,jdbcType=VARCHAR},
                #{registTag,jdbcType=VARCHAR},
                #{activeTag,jdbcType=VARCHAR},
                #{hotelChannel,jdbcType=VARCHAR}
		      )
    </insert>
    
    <select id="getSequence" resultType="Long" parameterType="member">
   	   SELECT M.ID FROM MEMBER_MEM_INFO M 
			WHERE  M.MEM_ID = #{memberID} AND M.MEM_NUM = #{memberCode} 
    </select>
    
    <insert id="insertMemberCard" parameterType="memberMemCard">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
           SELECT SEQ_MEMBER_MEM_CARD.NEXTVAL FROM DUAL
        </selectKey>
		    INSERT INTO
		      MEMBER_MEM_CARD
		      (
		        ID,
		        MEM_INFO_ID,
		        MEM_ID,
		        CARD_TYPE_CD,
		        X_CARD_NUM,
		        SOURCE,
		        VALID_DATE,
		        DUE_DATE,
		        STATUS	        
		      )
		    VALUES
		      (
		        #{id},
		        #{memInfoId,jdbcType=DECIMAL},
		        #{memId,jdbcType=VARCHAR},
		        #{cardTypeCd,jdbcType=VARCHAR},
		        #{xCardNum,jdbcType=VARCHAR},
		        #{source,jdbcType=VARCHAR},
		        #{validDate,jdbcType=DATE},
		        #{dueDate,jdbcType=DATE},
		        #{status,jdbcType=VARCHAR}
		      )
    </insert>
    
    <insert id="insertMemberVerify" parameterType="memberVerfy">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
           SELECT SEQ_MEMBER_VERIFY.NEXTVAL FROM DUAL
        </selectKey>
		    INSERT INTO
		      MEMBER_VERIFY
		      (
		        ID,
		        MEM_INFO_ID,
		        MEM_ID,
		        MEM_NUM,
		        MEN_NAME,
		        PASSWORD        
		      )
		    VALUES
		      (
		        #{id},
		        #{memInfoId,jdbcType=DECIMAL},
		        #{memId,jdbcType=VARCHAR},
		        #{memNum,jdbcType=VARCHAR},
		        #{menName,jdbcType=VARCHAR},
		        #{password,jdbcType=VARCHAR}
		      )
    </insert>
    
    <insert id="insertMemberVerifyJJZX" parameterType="memberVerfy">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
           SELECT SEQ_MEMBER_VERIFY.NEXTVAL FROM DUAL
        </selectKey>
		    INSERT INTO
		      MEMBER_VERIFY_JJZX
		      (
		        ID,
		        MEM_INFO_ID,
		        MEM_ID,
		        MEM_NUM,
		        MEN_NAME,
		        PASSWORD        
		      )
		    VALUES
		      (
		        #{id},
		        #{memInfoId,jdbcType=DECIMAL},
		        #{memId,jdbcType=VARCHAR},
		        #{memNum,jdbcType=VARCHAR},
		        #{menName,jdbcType=VARCHAR},
		        #{password,jdbcType=VARCHAR}
		      )
    </insert>
    
     <insert id="insertMemberVerifyJJZXConflict" parameterType="memberVerfy">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
           SELECT SEQ_MEMBER_VERIFY.NEXTVAL FROM DUAL
        </selectKey>
		    INSERT INTO
		      MEMBER_VERIFY_JJZX_CONFLICT
		      (
		        ID,
		        MEM_INFO_ID,
		        MEM_ID,
		        MEM_NUM,
		        MEN_NAME,
		        PASSWORD        
		      )
		    VALUES
		      (
		        #{id},
		        #{memInfoId,jdbcType=DECIMAL},
		        #{memId,jdbcType=VARCHAR},
		        #{memNum,jdbcType=VARCHAR},
		        #{menName,jdbcType=VARCHAR},
		        #{password,jdbcType=VARCHAR}
		      )
    </insert>
    
    <update id="updateMemberVerifyMemNameByLoginName" parameterType="long">
		UPDATE
		MEMBER_VERIFY_JJZX V 
		SET V.STATUS = '1'
		WHERE V.MEM_INFO_ID = #{infoID}
    </update> 
    
    <update id="updateMemberVerifyMemNameByEmail" parameterType="member">
		UPDATE
		MEMBER_VERIFY V 
		SET
        <if test="email != null and email != ''">
			V.MEN_NAME = #{email}
        </if>
        <if test="email != null and email != '' and password != null and password != ''">
			,
        </if>
         <if test="password != null and password != ''">
			V.PASSWORD = #{password}
        </if>
		WHERE
		   V.MEN_NAME = (SELECT I.EMAIL FROM MEMBER_MEM_INFO I WHERE I.MEM_ID = #{memberID}) AND V.MEM_INFO_ID = (SELECT I.ID FROM MEMBER_MEM_INFO I WHERE I.MEM_ID = #{memberID})
    </update> 
    
    <update id="updateMemberVerifyMemNameByCellPhone" parameterType="member">
		UPDATE
		MEMBER_VERIFY V 
		SET
        <if test="cellPhone != null and cellPhone != ''">
			V.MEN_NAME = #{cellPhone}
        </if>
        <if test="cellPhone != null and cellPhone != '' and password != null and password != ''">
			,
        </if>
        <if test="password != null and password != ''">
			V.PASSWORD = #{password}
        </if>
		WHERE
		   V.MEN_NAME = (SELECT I.PHONE FROM MEMBER_MEM_INFO I WHERE I.MEM_ID = #{memberID}) AND V.MEM_INFO_ID = (SELECT I.ID FROM MEMBER_MEM_INFO I WHERE I.MEM_ID = #{memberID})
    </update> 
    
    <update id="updateMemberVerifyMemNameByCardNo" parameterType="member">
		UPDATE
		MEMBER_VERIFY V 
		SET
        <if test="cardNo != null and cardNo != ''">
			V.MEN_NAME = #{cardNo}
        </if>
        <if test="cardNo != null and cardNo != '' and password != null and password != ''">
			,
        </if>
        <if test="password != null and password != ''">
			V.PASSWORD = #{password}
        </if>
		WHERE
		   V.MEN_NAME = (SELECT I.CARD_NO FROM MEMBER_MEM_INFO I WHERE I.MEM_ID = #{memberID}) AND V.MEM_INFO_ID = (SELECT I.ID FROM MEMBER_MEM_INFO I WHERE I.MEM_ID = #{memberID})
    </update> 
    
    <update id="updateMemberInfo" parameterType="member">
		UPDATE 
		MEMBER_MEM_INFO 
		SET 
        <if test="fullName != null and fullName != ''">
			NAME = #{fullName},
        </if>
        <if test="activateCode != null and activateCode != ''">
			ACTIVATE_CODE = #{activateCode}, 
        </if>
        <if test="memberCode != null and memberCode != ''">
			MEM_NUM = #{memberCode}, 
        </if>
        <if test="cardNo != null and cardNo != ''">
			CARD_NO = #{cardNo}, 
        </if>
        <if test="cardLevel != null and cardLevel != ''">
			CARD_LEVEL = #{cardLevel}, 
        </if>
        <if test="memberType != null and memberType != ''">
			MEM_TYPE = #{memberType}, 
        </if>
        <if test="memberHierarchy != null and memberHierarchy != ''">
			MEM_TIER = #{memberHierarchy}, 
        </if>
        <if test="newMemberHierarchy != null and newMemberHierarchy != ''">
			NEW_MEM_TIER = #{newMemberHierarchy}, 
        </if>
        <if test="registerSource != null and registerSource != ''">
			ENROLL_CHANNEL = #{registerSource}, 
        </if>
        <if test="registerDate != null and registerDate != ''">
			ENROLL_DATE = #{registerDate}, 
        </if>
        <if test="remindQuestion != null and remindQuestion != ''">
			QUESTION = #{remindQuestion},
        </if>
        <if test="remindAnswer != null and remindAnswer != ''">
			ANSWER = #{remindAnswer},
        </if>
        <if test="status != null and status != ''">
			STATUS = #{status},
        </if>
        <if test="cellPhone != null and cellPhone != ''">
			PHONE = #{cellPhone},
        </if>
        <if test="email != null and email != ''">
			EMAIL = #{email},
        </if>
        <if test="identityType != null and identityType != ''">
			IDENTITY_TYPE = #{identityType}, 
        </if>
        <if test="identityNo != null and identityNo != ''">
            IDENTITY_NO = #{identityNo},
        </if>
        <if test="title != null and title != ''">
			TITLE = #{title}, 
        </if>
        <if test="mcMemberCode != null and mcMemberCode != ''">
			MC_MEMBER_CODE = #{mcMemberCode}, 
        </if>
        <if test="activeDate != null and activeDate != ''">
			ACTIVE_DATE = #{activeDate}, 
        </if>
        <if test="activeChannel != null and activeChannel != ''">
			ACTIVE_CHANNEL = #{activeChannel}, 
        </if>
        <if test="thirdpartyType != null and thirdpartyType != ''">
			THIRDPARTY_TYPE = #{thirdpartyType}, 
        </if>
        <if test="registTag != null and registTag != ''">
            REGIST_TAG = #{registTag},
        </if>
        <if test="activeTag != null and activeTag != ''">
            ACTIVE_TAG = #{activeTag},
        </if>
        	MEM_ID = #{memberID},
        	LAST_UPD = SysDate
		 WHERE 
		MEM_ID = #{memberID}
    </update>
    
    
     <update id="resetMcMemberCode" >
		UPDATE 
		MEMBER_MEM_INFO 
		SET        
       		MC_MEMBER_CODE = '',
        	LAST_UPD = SysDate
		 WHERE 
		MC_MEMBER_CODE = #{mcMemberCode}
    </update>
    
    
    
    
    <update id="updateMemberCard" parameterType="memberMemCard">
		UPDATE
		MEMBER_MEM_CARD 
		SET
        <if test="cardTypeCd != null and cardTypeCd != ''">
			CARD_TYPE_CD = #{cardTypeCd}
        </if>
        <if test="cardTypeCd != null and cardTypeCd != '' and validDate != null and validDate != ''">
			,
        </if>
        <if test="validDate != null and validDate != ''">
			VALID_DATE = #{validDate}
        </if>
         <if test="validDate != null and validDate != '' and dueDate != null and dueDate != ''">
			,
        </if>
        <if test="dueDate != null and dueDate != ''">
			DUE_DATE = #{dueDate}
        </if>
		WHERE
		   X_CARD_NUM = (SELECT CARD_NO FROM MEMBER_MEM_INFO WHERE MEM_ID = #{memId}) AND MEM_ID = #{memId}
    </update> 
    
    <select id="queryMemberMemCardByMemberId" parameterType="long" resultMap="memberMemCardResult">
		SELECT * FROM MEMBER_MEM_CARD WHERE MEM_ID = #{memberID}
	</select>
	
	 <update id="updateMemberMemCardTwoCondition" parameterType="memberMemCard">
		UPDATE
		MEMBER_MEM_CARD
		<trim suffixOverrides="," prefix="set">
        <if test="cardTypeCd != null and cardTypeCd != ''">
			CARD_TYPE_CD = #{cardTypeCd},
        </if>
         <if test="cardNo != null and cardNo != ''">
			X_CARD_NUM = #{cardNo},
        </if>
         <if test="source != null and source != ''">
			SOURCE = #{source},
        </if>
        <if test="validDate != null and validDate != ''">
			VALID_DATE = #{validDate},
        </if>
        <if test="dueDate != null and dueDate != ''">
			DUE_DATE = #{dueDate},
        </if>
        <if test="status != null and status != ''">
			STATUS = #{status}
        </if>
        </trim>
		WHERE
		   X_CARD_NUM = #{xCardNum} AND MEM_ID = #{memId}
    </update> 
    
    <select id="queryMemberMemCardThreeCondition" parameterType="memberMemCard" resultMap="memberMemCardResult">
		SELECT * FROM MEMBER_MEM_CARD WHERE MEM_ID = #{memId} AND X_CARD_NUM = #{cardNo}
	</select>
	
	<update id="updateMemberMemCardById" parameterType="memberMemCard">
		UPDATE 
		MEMBER_MEM_CARD
		SET 
		ID = #{id}
        <if test="cardTypeCd != null and cardTypeCd != ''">
			,CARD_TYPE_CD = #{cardTypeCd}
        </if>   
         <if test="xCardNum != null and xCardNum != ''">
			,X_CARD_NUM = #{xCardNum}
        </if>
         <if test="source != null and source != ''">
			,SOURCE = #{source}
        </if>
        <if test="validDate != null and validDate != ''">
			,VALID_DATE = #{validDate}
        </if>
        <if test="dueDate != null and dueDate != ''">
			,DUE_DATE = #{dueDate}
        </if>
        <if test="status != null and status != ''">
			,STATUS = #{status}
        </if>
		WHERE
		    ID = #{id}
    </update> 
    
      <select id="queryMemberMemCardThreeConditionTwo" parameterType="memberMemCard" resultMap="memberMemCardResult">
		SELECT * FROM MEMBER_MEM_CARD WHERE MEM_ID = #{memId} AND CARD_TYPE_CD = 'Gold' AND X_CARD_NUM = #{xCardNum}
	</select>
	
	
	<select id="sumMember" resultType="long" parameterType="map">
	    select sum(total)
		   from (SELECT count(1) total
		           FROM MEMBER_VERIFY C
		          WHERE 1=2
		           <if test="email != null and email != ''">
		             or C.MEN_NAME = #{email} 
		           </if>
		             <if test="phone != null and phone != ''">
		              or C.MEN_NAME = #{phone}
		           </if>
		         union
		         select count(1) total
		           from WEBMEMBER_VERIFY v
		          where 1=2
		          <if test="email != null and email != ''">
		             or  lower(v.men_name) = lower(#{email}) 
		          </if>
		          <if test="phone != null and phone != ''">
		              or lower(v.men_name) = lower(#{phone})
		          </if>
		       )
	 	</select>


    <select id="generateMcMemberCode" resultType="string" >
		select S_MC_MEMBER_CODE.NEXTVAL from dual
	</select>
	
	<select id="getMemberByMcMemberCode" parameterType="string" resultMap="memberResult">
		<include refid="selectMemberInfoAndVerifySql"/>
		AND M.MC_MEMBER_CODE = #{code}
    </select>

    <select id="getMemberByMemberID" parameterType="string" resultMap="memberResult">
        <include refid="selectMemberInfoAndVerifySql"/>
        AND M.MEM_ID= #{memberID}
	</select>
	
    <select id="getMemberByMemberNum" parameterType="string" resultMap="memberResult">
        <include refid="selectMemberInfoAndVerifySql"/>
        AND M.MEM_NUM= #{memberNum}
	</select>

    <sql id="selectMemberInfoAndVerifySql">
        SELECT distinct M.*,V.PASSWORD FROM MEMBER_MEM_INFO M , MEMBER_VERIFY V
        WHERE M.ID = V.Mem_Info_Id
    </sql>
    
     <update id="updatePwdByMemInfoId">
		UPDATE MEMBER_VERIFY
		  SET PASSWORD = #{password} 
		WHERE 
		  MEM_INFO_ID = #{memInfoId}
    </update> 
    
    <select id="getMcMemberCodeByPhone" parameterType="string" resultType="string">
		select m.mc_member_code from member_mem_info m where m.phone =#{phone}
		 union
		select w.mc_member_code from webmember_info w where w.phone =#{phone}
	</select>
	
    <select id="getMcMemberCodeByMemberId" parameterType="string" resultType="string">
		SELECT M.MC_MEMBER_CODE FROM MEMBER_MEM_INFO M WHERE M.MEM_ID =#{memberId} and rownum = 1
	</select>
	
    <select id="getMcMemberCodeByMemberNum" parameterType="string" resultType="string">
		SELECT M.MC_MEMBER_CODE FROM MEMBER_MEM_INFO M WHERE M.MEM_NUM =#{memberNum}
	</select>

    <select id="getMemberByCardNo" parameterType="string" resultMap="memberResult">
        <include refid="selectAllMemberInfoSql"/>
        WHERE  M.CARD_NO= #{cardNo}
    </select>
    
    <sql id="selectAllMemberInfoSql">
        SELECT M.* FROM MEMBER_MEM_INFO M
    </sql>
    
    <select id="getMemberVerfyByMemberCode" resultMap="memberVerfyResult">
    	SELECT * FROM MEMBER_VERIFY M
			WHERE M.MEM_NUM = #{memberCode}     
    </select>
    
    <update id="updateMemIpAddressByMC">
        UPDATE 	MEMBER_MEM_INFO  SET   IP_ADDRESS=#{ipAddress}   WHERE MC_MEMBER_CODE=#{mcMemberCode}
    </update>
    
    <select id="countWithIdentity" resultType="Integer" >
		SELECT COUNT(*)  FROM MEMBER_MEM_INFO M 
		WHERE M.IDENTITY_TYPE = #{identityType}  AND  UPPER(M.IDENTITY_NO) = UPPER(#{identityNo})
					AND (M.STATUS = 'Active' OR M.STATUS = 'Freeze')
	</select>
	
	<select id="getCardInfoByCardno" parameterType="string" resultMap="memberMemCardResult">
		SELECT * FROM MEMBER_MEM_CARD M WHERE M.X_CARD_NUM = #{cardNo}
	</select>
	
	<select id="queryMemberForAdmin"  resultMap="memberResult">
		SELECT distinct m.* FROM MEMBER_MEM_INFO m left join MEMBER_MEM_CARD c 
		on m.id = c.mem_info_id
		<where>
	        <if test="cardNo != null and  cardNo != '' ">
				AND c.X_CARD_NUM = #{cardNo}	
			</if>
	        <if test="cardType != null and  cardType != '' ">
				AND c.CARD_TYPE_CD = #{cardType}
			</if>
	        <if test="phone != null and  phone != '' ">
				AND m.PHONE = #{phone}
			</if>
			<if test="email != null and  email != '' ">
				AND m.EMAIL = #{email}
			</if>
			<if test="name != null and  name != '' ">
				AND m.NAME = #{name}
			</if>
			<if test="identityType != null and  identityType != '' ">
				AND m.IDENTITY_TYPE = #{identityType}
			</if>
			<if test="identityNo != null and  identityNo != '' ">
				AND upper(m.IDENTITY_NO) = upper(#{identityNo})
			</if>	
			<if test="memberNo != null and  memberNo != '' ">
				AND m.MEM_NUM = #{memberNo}
			</if>	
	    </where>
	</select>
	
	<select id="getMemberById" parameterType="long" resultMap="memberResult">
        SELECT * FROM MEMBER_MEM_INFO M
        WHERE  M.ID = #{id}
    </select>
	
	<select id="queryMemberCardInfos" parameterType="long" resultMap="memberMemCardResult">
		SELECT * FROM MEMBER_MEM_CARD M
			WHERE M.MEM_INFO_ID = #{memInfoId} AND (M.STATUS IS NULL OR (M.STATUS != 'Expired' AND M.STATUS != 'Logout'))
	</select>
</mapper>