<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.membercenter.persistence.MemberXmlMapper">

	<resultMap id="memberXmlMap" type="memberXml">
		<id property="id" column="id" />
		<result property="email" column="EMAIL" />
		<result property="mobile" column="PHONE_NUM" />
		<result property="orderNo" column="ORDER_NO" />
		<result property="certificateType" column="CERTIFICATE_TYPE" />
		<result property="certificateNo" column="CERTIFICATE_NO" />
		<result property="xml" column="XML" jdbcType="CLOB" javaType = "java.lang.String"/>
		<result property="callBackFlag" column="CALL_BACK_FLAG" />
		<result property="updatedDate" column="UPDATED_DATE" javaType="java.util.Date"/>
		<result property="couponCode" column="COUPON_CODE"/> 		
	</resultMap>
	
	<select id="getXml" parameterType="String" resultMap="memberXmlMap">
        SELECT
          ID,
          EMAIL,
          PHONE_NUM,
          ORDER_NO,
          CERTIFICATE_TYPE,
          CERTIFICATE_NO,
          XML,
          CALL_BACK_FLAG,
          UPDATED_DATE,
          COUPON_CODE
         FROM
          T_MEMBER_XML
         WHERE
          ID=#{id}       
 </select>	
 
	<select id="getXmlByOrderNo" parameterType="String" resultMap="memberXmlMap">
        SELECT
          ID,
          EMAIL,
          PHONE_NUM,
          ORDER_NO,
          CERTIFICATE_TYPE,
          CERTIFICATE_NO,
          XML,
          CALL_BACK_FLAG,
          COUPON_CODE
         FROM
          T_MEMBER_XML
         WHERE
          ORDER_NO=#{orderNo}
          AND CALL_BACK_FLAG = 'N'          
   </select>	

	<insert id="saveXml" parameterType="memberXml">
		INSERT INTO
		T_MEMBER_XML
	  (ID ,
	   EMAIL ,
	   PHONE_NUM,
	   ORDER_NO,
       CERTIFICATE_TYPE,
       CERTIFICATE_NO,
	   XML,
	   CALL_BACK_FLAG,
	   INSERTED_BY,
	   INSERTED_DATE,
	   UPDATED_BY,
	   UPDATED_DATE,
	   COUPON_CODE)
		VALUES
		(
		#{id},
		#{email,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR},
		#{orderNo,jdbcType=VARCHAR},
		#{certificateType,jdbcType=VARCHAR},
		#{certificateNo,jdbcType=VARCHAR},
		#{xml,jdbcType=CLOB},
		#{callBackFlag,jdbcType=VARCHAR},
		'System',
		SysDate,
		'System',
		SysDate,
		#{couponCode,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateCallBackFlag" parameterType="String">
		update T_MEMBER_XML
        set
          CALL_BACK_FLAG = 'Y',
          UPDATED_BY = 'System',
          UPDATED_DATE = SysDate
        where
          id = #{id}
	</update>
	<update id="updateCallBackFlagByBean" parameterType="memberXml">
		update T_MEMBER_XML
        set
          CALL_BACK_FLAG = #{callBackFlag},
          UPDATED_BY = 'System',
          UPDATED_DATE = SysDate
        where
          id = #{id}
	</update>
</mapper>