<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.membercenter.persistence.MemberSubFeedbackMapper">
    <resultMap type="memberSubFeedback" id="memberSubFeedbackResultMap">
      <result column="id" property="id"/>
      <result column="feedback_id" property="feedbackId"/>
      <result column="operator" property="operator"/>
      <result column="content" property="content"/>
      <result column="create_time" property="createTime"/>
    </resultMap>
    
    <sql id="querySubFeedbackWhere">
		 <if test="condition.id !=null and condition.id !='' ">
            and id = #{condition.id}
        </if>
		 <if test="condition.feedbackId !=null and condition.feedbackId !='' ">
            and feedback_id = #{condition.feedbackId}
        </if>
		 <if test="condition.content !=null and condition.content !='' ">
            and content like '%'||#{condition.content}||'%'
        </if>
    </sql>
    
	<select id="querySubFeedback" resultMap="memberSubFeedbackResultMap">
	  <if test="pagination != null">
	   <include refid="ORACLE.paginationStart"/>
	  </if>
		 SELECT * FROM T_VBP_MEMBER_SUB_FEEDBACK WHERE 1=1
		 <include refid="querySubFeedbackWhere"/>
        order by create_time desc
        <if test="pagination != null">
           <include refid="ORACLE.paginationEnd"/>
        </if>
	</select>
	
	<insert id="insertMemberSubFeedback" parameterType="memberSubFeedback">
	<selectKey keyProperty="id" resultType="long" order="BEFORE">
        select S_VBP_MEMBER_SUB_FEEDBACK.nextval from dual
    </selectKey>
	   insert into T_VBP_MEMBER_SUB_FEEDBACK ( id,feedback_id,operator,content,create_time )
	   values(
	    #{id,jdbcType=NUMERIC},
		#{feedbackId,jdbcType=NUMERIC},
		#{operator,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		SYSDATE
		)
	</insert>
	
</mapper>