<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.membercenter.persistence.NoteMapper">

	<resultMap id="note_RM" type="note">
		<id property="id" column="id"/>
		<result property="ownerCategory" column="owner_category"/>
		<result property="ownerId" column="owner_id"/>
		<result property="content" column="content"/>
		<result property="operation" column="operation"/>
		<result property="creatorId" column="creator_id"/>
		<result property="creatorName" column="creator_name"/>
		<result property="createTime" column="create_time"/>
	</resultMap>
  <insert id="insert" parameterType="note">
  	 <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT S_VBP_NOTE.NEXTVAL FROM DUAL
     </selectKey>
     INSERT INTO T_VBP_NOTE
     (	id,
     	owner_category,
     	owner_id,
     	content,
     	operation,
     	creator_id,
     	creator_name,
     	create_time
     )
     VALUES
     (	#{id},
     	#{ownerCategory},
     	#{ownerId},
     	#{content,jdbcType=VARCHAR},
     	#{operation,jdbcType=VARCHAR},
     	#{creatorId,jdbcType=VARCHAR},
     	#{creatorName,jdbcType=VARCHAR},
     	SYSDATE
     )
  </insert>
  
   <select id="query" resultMap="note_RM">
  	SELECT 	ID, OWNER_CATEGORY, OWNER_ID, CONTENT, OPERATION, CREATOR_ID, CREATE_TIME,CREATOR_NAME
  	FROM 	T_VBP_NOTE
  	<where>
  		1=1
  		<if test="ownerCategory != null" >
				AND OWNER_CATEGORY = #{ownerCategory}
     	</if>
  		<if test="ownerId != null and ownerId != ''" >
				AND OWNER_ID = #{ownerId}
     	</if>
  		<if test="content != null and content != ''" >
				AND CONTENT = #{content}
     	</if>
 			<if test="operation != null and operation != ''" >
				AND OPERATION = #{operation}
     	</if>
 			<if test="creatorId != null" >
				AND CREATOR_ID = #{creatorId}
     	</if>
	</where>
	ORDER BY CREATE_TIME 
  </select>
  
  
  
</mapper>