<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.membercenter.persistence.OpRecordLogMapper">

	<resultMap id="opRecordLogDomainResult" type="opRecordLogDomain">
		<id property="id" column="ID" />
		<id property="opType" column="OP_TYPE" />
		<id property="message" column="MESSAGE" />
		<id property="content" column="CONTENT" />
	</resultMap>

	<insert id="insert">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT
			S_VBP_OP_RECORD_LOG.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
		T_VBP_OP_RECORD_LOG
		(
		ID,
		OP_TYPE,
		MESSAGE,
		CONTENT,
		CREATE_DATE,
		UPDATE_DATE
		)
		values
		(
		#{id},
		#{opType,jdbcType=VARCHAR},
		#{message,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		SYSDATE,
		SYSDATE
		)
	</insert>

</mapper>