<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.membercenter.persistence.SupportMapper">
	<resultMap id="dataCode_RM" type="dataCode">
		<id property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="code" column="CODE"/>
		<result property="val" column="VAL"/>
		<result property="type" column="TYPE"/>
		<result property="describe" column="DESCRIBE"/>
		<result property="sort" column="SORT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="createPerson" column="CREATE_PERSON"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="updatePerson" column="UPDATE_PERSON"/>
 	</resultMap>
 	
 	<select id="queryDataCode"  resultMap="dataCode_RM">
	 select * from t_data_code c where 1=1
        <if test="code != null  and code != '' ">
	      and  c.code =#{code}
	    </if>
	     <if test="type != null and type != '' ">
	      and  type =#{type}
	    </if>
	    order by c.sort  asc
	</select>
	
 	<select id="queryDataCodeList"  resultMap="dataCode_RM">
	 select * from t_data_code c  order by c.sort asc
	</select>	 
	
 
 
</mapper>
