<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.membercenter.persistence.ValidateCodeMapper">

	<resultMap id="validateCode"  type="validateCode">
	        <id property="id" column="ID"/>
	        <result property="receiver" column="RECEIVER"/>
	        <result property="code" column="CODE"/>
	        <result property="createTime" column="CREATE_DATE"/>
	</resultMap>
    
	<insert id="addCode" parameterType="com.jje.membercenter.domain.ValidateCode">
		<selectKey keyProperty="id" resultType="Long" order="BEFORE">
		    SELECT S_VBP_VAILDATE_CODE.NEXTVAL FROM DUAL
		</selectKey>
       insert into T_VBP_VAILDATE_CODE
        (ID,
        CODE,
        RECEIVER,
        CREATE_DATE
        )
      values(
         #{id,jdbcType=DECIMAL},
         #{code,jdbcType=VARCHAR},
         #{receiver,jdbcType=VARCHAR},
        SYSDATE
         )
    </insert>
    
    <select id="getLastCodeByReceiver" parameterType="String" resultMap="validateCode">
		select * from (SELECT * FROM T_VBP_VAILDATE_CODE where RECEIVER = #{receiver}  order by CREATE_DATE desc) where  rownum=1
	</select>
	
    <select id="countTodayCodes" parameterType="String"  resultType="Integer">
		SELECT count(ID) FROM T_VBP_VAILDATE_CODE where RECEIVER = #{receiver} and CREATE_DATE > trunc(sysdate)
	</select>
</mapper>