<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.vbp.regist.persistence.QuickRegistMapper">
	<select id="getTempCardNum" resultType="string" >
		SELECT S_TEMP_CARD_NUM.NEXTVAL FROM DUAL
	</select>
	
	<select id="getMcMemberCode" resultType="string" >
		select S_MC_MEMBER_CODE.NEXTVAL from dual
	</select>
	
   <insert id="saveWebMemberInfo">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT S_WEBMEMBER_INFO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO WEBMEMBER_INFO
        (
	        ID,
	        EMAIL,
	        PHONE,
	        TEMP_CARD_NO,
	        MEM_NUM,
	        LAST_UPDATE_TIME,
	        LAST_LOGIN_TIME,
	        REFERRER_CARD_NO,
	        IS_MOBILE_BIND,
	        IS_EMAIL_BIND,
	        REGIST_CHANNEL,
	        REGIST_TIME ,
	        ACTIVITY_CODE,
	        MC_MEMBER_CODE,
	        MEM_TYPE,
	        IP_ADDRESS
        )VALUES
        (
	        #{id},
	        #{email,jdbcType=VARCHAR},
	        #{phone,jdbcType=VARCHAR},
	        #{tempCardNo,jdbcType=VARCHAR},
	        #{memberCode,jdbcType=VARCHAR},
	        SYSDATE,
	        #{lastLoginTime,jdbcType=DATE},
	        #{referrerCardNo,jdbcType=VARCHAR},
	        #{isMobileBind,jdbcType=INTEGER},
	        #{isEmailBind,jdbcType=INTEGER},
	        #{registChannel,jdbcType=VARCHAR},
	        SYSDATE,
	        #{activityCode,jdbcType=VARCHAR},
	        #{mcMemberCode,jdbcType=VARCHAR},
	        #{memType,jdbcType=VARCHAR},
	        #{ipAddress,jdbcType=VARCHAR}
        )
    </insert>
    
     <insert id="saveWebMemberVerify">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT S_WEBMEMBER_VERIFY.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO WEBMEMBER_VERIFY
        (
	        ID,
	        MEM_INFO_ID,
	        MEN_NAME,
	        PASSWORD
        )
        VALUES
        (
	        #{id},
	        #{memInfoId,jdbcType=DECIMAL},
	        #{menName,jdbcType=VARCHAR},
	        #{password,jdbcType=VARCHAR}      
        )
    </insert>
    
</mapper>
