<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jje.vbp.memberBind.persistence.MemberBindMapper">
	<resultMap type="memberInfoResult" id="memberInfoResult">
	
	</resultMap>


	<insert id="bindMember" parameterType="memberBindEntity">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT MEMBER_BIND_SEQUENCE.NEXTVAL FROM DUAL
     	</selectKey>
		INSERT INTO T_VBP_MEMBER_BIND_INFO
		(
			ID,
			MEMBER_ID,
			MC_MEMBER_CODE,
			BIND_TYPE,
			BIND_KEY,
			CHANNEL,
			STATUS,
			CREATE_TIME,
			UPDATE_TIME
		)
		VALUES
		( 	#{id},
			#{memberId,jdbcType=VARCHAR},
			#{mcMemberCode,jdbcType=VARCHAR},
			#{bindType,jdbcType=VARCHAR},
			#{bindKey,jdbcType=VARCHAR},
			#{channel,jdbcType=VARCHAR},
			#{status,jdbcType=VARCHAR},
			SYSDATE,
			SYSDATE
		)
	</insert>

	<select id="queryBindMemberCount" resultType="int"  parameterType="memberBindEntity">
		SELECT
			count(*)
		FROM
			T_VBP_MEMBER_BIND_INFO
		WHERE
			STATUS = 'status_on'
		AND
			CHANNEL = #{channel, jdbcType=VARCHAR}
		AND
			MC_MEMBER_CODE = #{mcMemberCode, jdbcType=VARCHAR}
	</select>
	
	<select id="getMemberIdByKey" resultType="String" parameterType="memberBindEntity">
		select member_id from T_VBP_MEMBER_BIND_INFO
		where status = 'status_on'
		and channel = #{channel, jdbcType=VARCHAR}
		and bind_key = #{bindKey,jdbcType=VARCHAR}
	</select>
	
	<select id="getMcMemberCodeByKey" resultType="String" parameterType="memberBindEntity">
		select mc_member_code from T_VBP_MEMBER_BIND_INFO
		where status = 'status_on'
		and channel = #{channel, jdbcType=VARCHAR}
		and bind_key = #{bindKey,jdbcType=VARCHAR}
	</select>
</mapper>